files/workflows/32BSsNzPw8soOhcB-Google_Sheets_-_Postgres_-_Telegram_on_change.json
{
  "name": "Google Sheets ->Postgres  ->Telegram on change",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "13Jw0NtF5vAgFTLMxEs-rnVpBzIPk3uHwHS3dze3n2vs",
          "mode": "list",
          "cachedResultName": "А",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Jw0NtF5vAgFTLMxEs-rnVpBzIPk3uHwHS3dze3n2vs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Jw0NtF5vAgFTLMxEs-rnVpBzIPk3uHwHS3dze3n2vs/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "name": "Google Sheets Trigger3",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -96
      ],
      "id": "18e526ca-d9e5-43b4-93fb-57e75047d1ee",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Jwzdhlae3EJnyvBZ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=544911412",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Telegram3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        656,
        -96
      ],
      "id": "044d6edf-abb6-4104-83a4-8c7daef44fcc",
      "webhookId": "ca32b5cc-1a11-4e4b-a6b9-96ba436dd06a",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Telegram Message: собираем только строки, которые пришли с выполнения UPSERT (RETURNING *)\nconst rows = items.map(i => i.json).filter(r => r && (r.id || r.customer_code || r.updated_at));\nif (!rows.length) return []; // если ничего не изменилось — не отправлять\n\nconst lines = rows.map(r => {\n  return `Код: ${r.customer_code || '-'} — ${r.customer_name || '-'} — менеджер: ${r.manager || '-'} — сумма: ${r.amount || '-'}`;\n});\n\nconst sheetName = $input.first().json.sheetName || 'Лист';\nconst message = `Google Sheet '${sheetName}' изменён: \\n` + lines.join('\\n');\n\nreturn [{ json: { message } }];"
      },
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -96
      ],
      "id": "2cb91a4f-e471-456f-ae7c-1d953538f1f4"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка UPSERT-запросов для каждой строки\nfunction esc(v){\n  if (v === null || v === undefined) return '';\n  return String(v).replace(/'/g, \"''\");\n}\n\nconst out = [];\n\nfor (const it of items) {\n  const row = it.json; // строка от Google Sheets\n  // Настройте имена полей под ваши заголовки\n  const customer_code = esc(row['customer_code'] || row['Customer Code'] || row['Client Code'] || '');\n  const customer_name = esc(row['customer_name'] || row['Name'] || row['client_name'] || '');\n  const manager = esc(row['manager'] || row['Manager'] || '');\n  const amountRaw = row['amount'] || row['Amount'] || '';\n  const amount = (amountRaw === '' || amountRaw === null || amountRaw === undefined) ? 'NULL' : Number(amountRaw) || 'NULL';\n  // если Google возвращает номер строки — используем его; иначе null\n  const sheet_row = row['__row'] || row['row'] || row['Sheet Row'] || null;\n\n  // Формируем UPSERT с RETURNING *\n  const query = `\nINSERT INTO sheet_import (customer_code, customer_name, manager, amount, sheet_row, updated_at)\nVALUES ('${customer_code}', '${customer_name}', '${manager}', ${amount}, ${sheet_row === null ? 'NULL' : sheet_row}, now())\nON CONFLICT (customer_code) DO UPDATE\n  SET customer_name = EXCLUDED.customer_name,\n      manager = EXCLUDED.manager,\n      amount = EXCLUDED.amount,\n      sheet_row = EXCLUDED.sheet_row,\n      updated_at = now()\nRETURNING *;`.trim();\n\n  out.push({ json: { query, customer_code, sheet_row } });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -96
      ],
      "id": "7aa69834-02f0-4279-912c-b7e4b17538f6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -96
      ],
      "id": "46b04c15-a70b-4c99-bf43-b84fe1f081d7",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "iAbiO90L3smo9ncE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Build Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": -1
  },
  "versionId": "df1c2613-140a-4f30-8a9b-c3d845c4ae24",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "32BSsNzPw8soOhcB"
}