files/workflows/70BJVqoz2Eee8PXY-Iris_task_sub.json
{
  "name": "Iris_task_sub",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "cd514544-77f6-4050-96b9-3b4b686e3a26",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "orvzFdhR7uCZR23l",
          "mode": "list",
          "cachedResultName": "HEE_Team",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/orvzFdhR7uCZR23l"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        368,
        192
      ],
      "id": "e7fa70c3-66e7-4e6d-87a0-ad09630d22ed",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "15c2b2db-c0e8-469e-bb25-d6230304f7df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DATqFrWITE7gF4TX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "0YuqQFice7tFfZkq",
          "mode": "list",
          "cachedResultName": "tasks_log",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/0YuqQFice7tFfZkq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Assigned",
            "assignee_name": "={{ $('When Executed by Another Workflow').item.json.assignee_name }}",
            "task": "={{ $('When Executed by Another Workflow').item.json[\"text: \"] }}",
            "Deadline": "={{ $now }}",
            "owner_name": "={{ $('When Executed by Another Workflow').item.json.owner_name }}",
            "uuid": "={{ $json.uuid }}",
            "owner_tg_id": "={{ $('When Executed by Another Workflow').item.json.owner_id }}",
            "assignee_tg_id": "={{ $('When Executed by Another Workflow').item.json.owner_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "assignee_name",
              "displayName": "assignee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "owner_name",
              "displayName": "owner_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "owner_tg_id",
              "displayName": "owner_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "assignee_tg_id",
              "displayName": "assignee_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "a2583ee4-ccd0-436f-a3a7-b51a969b1cba",
      "name": "Insert row"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.assignee_tg_id }}",
        "text": "=Привіт! И тебе є нова задача від . {{ $('When Executed by Another Workflow').item.json.owner_name }}Задача - {{ $('When Executed by Another Workflow').item.json[\"text: \"] }}\n------------\nURL ==> \n{{ $('When Executed by Another Workflow').item.json.url }}\nDeadline ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=Accept",
                    "additionalFields": {
                      "callback_data": "={{ $('UUID Gen').item.json.uuid }}|Acepted|"
                    }
                  },
                  {
                    "text": "Decline",
                    "additionalFields": {
                      "callback_data": "={{ $('UUID Gen').item.json.uuid }}|Declined|"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        0
      ],
      "id": "f4b9ab34-e0dd-40c5-89e1-cd9ca1c9a1d7",
      "name": "Send a message to assignee",
      "webhookId": "cd89ddc9-c608-4c3e-b0ab-039de558b1ed",
      "credentials": {
        "telegramApi": {
          "id": "DGAoZ0sjTHtfCfHb",
          "name": "Iris_task"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.owner_id }}",
        "text": "=Задача ==>\n{{ $json.task }}\n------------\nURL ==> \n{{ $('When Executed by Another Workflow').item.json.url }}\n------------\nпоставлена {{ $json.assignee_name }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        0
      ],
      "id": "9caa4940-af1d-4e67-a452-c2575f8fb625",
      "name": "Send a message to owner",
      "webhookId": "cd89ddc9-c608-4c3e-b0ab-039de558b1ed",
      "credentials": {
        "telegramApi": {
          "id": "DGAoZ0sjTHtfCfHb",
          "name": "Iris_task"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CMhsVB7XOrsqLcD73JRTCE2yDJHyPjEnIy0W5ySS7-Q",
          "mode": "list",
          "cachedResultName": "my_To_Do",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CMhsVB7XOrsqLcD73JRTCE2yDJHyPjEnIy0W5ySS7-Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CMhsVB7XOrsqLcD73JRTCE2yDJHyPjEnIy0W5ySS7-Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.Status }}",
            "assignee_name": "={{ $json.assignee_name }}",
            "task": "={{ $json.task }}",
            "Deadline": "={{ $json.Deadline }}",
            "owner_name": "={{ $json.owner_name }}",
            "uuid": "={{ $('UUID Gen').item.json.uuid }}",
            "createdAt": "={{  $now.year }}.{{  $now.month }}.{{  $now.day }}/{{  $now.hour }}:{{  $now.minute }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assignee_name",
              "displayName": "assignee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "owner_name",
              "displayName": "owner_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        0
      ],
      "id": "ae8890f4-1b4d-45f6-b687-23e40db2bdaa",
      "name": "Append row in my_To_Do google sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wvs2Pgmcim9xK8CD",
          "name": "AR Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "4GSKuEvYZhmWFbNZ",
          "mode": "list",
          "cachedResultName": "WF_execution_log",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/4GSKuEvYZhmWFbNZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UUID": "={{ $('UUID Gen').item.json.uuid }}",
            "task_owner": "={{ $('When Executed by Another Workflow').item.json.owner_name }}",
            "task_assignee": "={{ $('When Executed by Another Workflow').item.json.assignee_name }}",
            "task_type": "Exclusive",
            "task_group": "n/a",
            "task_description": "=Exclusive task ",
            "status": "=assigned",
            "date_time_assigned": "={{ $now.plus(25200000).format('yyyy-MM-dd/HH:mm')}} ",
            "WF_name": "WF_002_Iris_task_manager"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "UUID",
              "displayName": "UUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WF_name",
              "displayName": "WF_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_owner",
              "displayName": "task_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_assignee",
              "displayName": "task_assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_group",
              "displayName": "task_group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_assigned",
              "displayName": "date_time_assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_declined",
              "displayName": "date_time_declined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date_time_accepted",
              "displayName": "date_time_accepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date_time_done",
              "displayName": "date_time_done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1520,
        0
      ],
      "id": "c2fe90b3-5f1f-4559-8146-ccff4993122a",
      "name": "WF_execution_log update - task assigned"
    },
    {
      "parameters": {
        "jsCode": "// Generate UUID without crypto module using timestamp and random numbers\nfunction generateUUID() {\n  const timestamp = Date.now().toString(16);\n  const random1 = Math.random().toString(16).substring(2, 10);\n  const random2 = Math.random().toString(16).substring(2, 10);\n  const random3 = Math.random().toString(16).substring(2, 10);\n  \n  return `${timestamp.substring(0, 8)}-${random1.substring(0, 4)}-${random1.substring(4, 8)}-${random2.substring(0, 4)}-${random2.substring(4, 8)}${random3.substring(0, 4)}`;\n}\n\nconst uuid = generateUUID();\n\n// Return as item data\nreturn [\n  {\n    json: { uuid },\n  },\n];"
      },
      "id": "84fb065d-76ff-4ddc-831f-8233714f03e1",
      "name": "UUID Gen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "owner_id": 544911412,
          "owner_name": "Alexey Ilchenko",
          "assignee_name": "Рыжов Алексей",
          "assignee_tg_id": "156644104",
          "text: ": "Аексею Рыжову подвердить выдачу средств по форме B1",
          "url_G_Sh_T": "1OD1V1aHtDRjkWlx-XZjbdjnI8-BKocEmvz7i6zCAkak",
          "url": "https://docs.google.com/spreadsheets/d/1OD1V1aHtDRjkWlx-XZjbdjnI8-BKocEmvz7i6zCAkak/edit"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "UUID Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Append row in my_To_Do google sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to assignee": {
      "main": [
        [
          {
            "node": "WF_execution_log update - task assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to owner": {
      "main": [
        [
          {
            "node": "Send a message to assignee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in my_To_Do google sheets": {
      "main": [
        [
          {
            "node": "Send a message to owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Gen": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d8e420c-6159-447c-ac74-652e0e4462fe",
  "meta": null,
  "id": "70BJVqoz2Eee8PXY"
}