files/workflows/AV1bYnfFic8acDVM-Router_Telegram_Message_Router.json
{
  "name": "Router: Telegram Message Router",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const msg = items[0].json.message ?? {};\nlet route = 'unknown';\nif (msg.document || (msg.photo && msg.photo.length)) route = 'file';\nelse if (msg.voice || msg.audio) route = 'voice';\nelse if (msg.text || msg.caption) route = 'text';\nreturn [{ json: { route, message: msg } }];"
      },
      "id": "a93c79b3-7d3a-4704-84f5-d15a7b40eb98",
      "name": "Detect Route (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "= {{$json.message?.chat?.id || $json.message?.chat_id || ''}}",
        "text": "Unsupported message type. I can process files, voice and text.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a34ba9e3-a58f-4a05-9eba-b2164a53adaf",
      "name": "Reply Unsupported",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -224,
        352
      ],
      "webhookId": "791e23ab-02d3-4930-adfd-4b02eba4265e",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "12d7a1ca-48d6-4276-b8cb-cae9e7ff47c7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4a13da9-4a3b-481e-9be8-9812d94e0586",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab080754-f8d8-4120-b5ee-360b726238dd",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec2a3e91-05a7-452f-bf4d-f66228caaaf9",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        64,
        48
      ],
      "id": "4524d5b4-b7a5-465a-8f38-b8484406e782",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "9e38650c-51c4-467f-9fd8-5bb20d3548cd",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        80
      ],
      "webhookId": "6fd7795b-c64d-4027-be31-98db3a93b886",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Ri6pBT9uWLsClQWX",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ri6pBT9uWLsClQWX",
          "cachedResultName": "Child: Reply With Received Text"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        416
      ],
      "id": "a55cabd2-1835-4d33-8483-c30149164e08",
      "name": "Call 'Child: Reply With Received Text'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37e1d93c-78cc-44b5-9125-2c3304faf083",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "980b876b-1f88-4b93-adae-855a8f0842d5",
              "name": "id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        416
      ],
      "id": "cbf61e07-efe5-47d1-9117-faf0320b9cda",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yAZEm9dxfVGQv9Qo",
          "mode": "list",
          "cachedResultUrl": "/workflow/yAZEm9dxfVGQv9Qo",
          "cachedResultName": "Telegram Download Vision with PDF Support"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        32
      ],
      "id": "1e1155d0-f383-4ee7-8f12-157c44aff5b5",
      "name": "pdf"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        32
      ],
      "id": "a531cdab-67a0-46e8-b100-a2ec787fc7cd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        208
      ],
      "id": "e2c2ea2d-5fa5-470d-97a3-ee743f776a1d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GSMgkkxdrOB4EMEn",
          "mode": "list",
          "cachedResultUrl": "/workflow/GSMgkkxdrOB4EMEn",
          "cachedResultName": "Voice"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "9ae8b2e1-0d8f-46ae-9f27-5189e9ac753d",
      "name": "Call 'Voice'"
    }
  ],
  "pinData": {},
  "connections": {
    "Detect Route (Code)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unsupported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Detect Route (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Child: Reply With Received Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Call 'Voice'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "4ef864d3-61fb-4346-81f7-9f24cb971dfd",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "AV1bYnfFic8acDVM"
}