files/workflows/fIg5R3gL7hr2BYm5-ILA_privat_workflow.json
{
  "name": "ILA privat workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Stateless conversation router for Telegram ForceReply\n// Flow: /create_a_draft -> topic -> length -> generate\n\nconst chatId = $json?.message?.chat?.id;\nconst text = String($json?.message?.text ?? '').trim();\nconst replyToText = String($json?.message?.reply_to_message?.text ?? '');\n\nif (!chatId) {\n  return [{ json: { action: 'ignore' } }];\n}\n\nif (text === '/create_a_draft') {\n  return [{ json: { action: 'ask_topic', chatId } }];\n}\n\n// Topic reply (reply to our prompt)\nif (replyToText && /Введи\\s+тему/i.test(replyToText)) {\n  const topic = text;\n  if (!topic) {\n    return [{ json: { action: 'ask_topic', chatId } }];\n  }\n  return [{ json: { action: 'ask_length', chatId, topic } }];\n}\n\nfunction parseTopicFromPrompt(prompt) {\n  // Prompt format we send: Тема: \"<topic>\"\\nВведи длину статьи ...\n  const m = String(prompt).match(/Тема:\\s*[\"“”]?([^\\n\\r\"”]+)[\"”]?/i);\n  return m ? m[1].trim() : '';\n}\n\n// Length reply\nif (replyToText && /(Введи\\s+длину\\s+статьи|кол-?во\\s*символ)/i.test(replyToText)) {\n  const topic = parseTopicFromPrompt(replyToText);\n  const raw = text.replace(/[^0-9]/g, '');\n  const length = parseInt(raw || '0', 10);\n\n  if (!topic) {\n    return [{ json: { action: 'ask_topic', chatId } }];\n  }\n\n  if (!Number.isFinite(length) || length <= 0) {\n    return [{ json: { action: 'ask_length_invalid', chatId, topic } }];\n  }\n\n  return [{ json: { action: 'generate', chatId, topic, length } }];\n}\n\nreturn [{ json: { action: 'ignore' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        256
      ],
      "id": "98c24b7b-1fab-4cf7-8a28-3b4de66759d1",
      "name": "Conversation Router"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Введи тему статьи",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        16
      ],
      "id": "170ecf06-dfd0-41ed-9f54-c56314ce37b1",
      "name": "Ask topic",
      "webhookId": "4e697746-8bde-4e6a-8451-a6a677a8f310",
      "credentials": {
        "telegramApi": {
          "id": "oTiXG5tmcPGGVi82",
          "name": "ILA PRIVATE BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Тема: \"{{ $json.topic }}\"\nВведи длину статьи (кол-во символов)",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        240
      ],
      "id": "0df493ab-5966-49b8-abeb-460f0ef74c74",
      "name": "Ask length",
      "webhookId": "cb4f03f7-fd9c-4ad6-b86b-e4a5b8e63f9f",
      "credentials": {
        "telegramApi": {
          "id": "oTiXG5tmcPGGVi82",
          "name": "ILA PRIVATE BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Тема: \"{{ $json.topic }}\"\nНужно число, например 1500. Введи длину статьи (кол-во символов)",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        432
      ],
      "id": "71728e84-20c9-475e-bb82-97018a400e77",
      "name": "Ask length (invalid)",
      "webhookId": "cb4f03f7-fd9c-4ad6-b86b-e4a5b8e63f9f",
      "credentials": {
        "telegramApi": {
          "id": "oTiXG5tmcPGGVi82",
          "name": "ILA PRIVATE BOT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "prompt",
              "value": "=Напиши статью на тему: {{ $json.topic }}.\n\nТребования:\n- Длина: примерно {{ $json.length }} символов (без учета пробелов можно приблизительно).\n- Язык: Украинский.\n- Стиль: деловой, понятный, без воды.\n- Без Markdown и без лишних вступлений — просто текст статьи.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        544
      ],
      "id": "98f51449-fb67-4bc5-a964-05e08371038b",
      "name": "Build prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Ты — практикующий психолог и автор просветительских статей о психологии для широкой аудитории в гештальт-подходе. Пиши бережно, тепло и поддерживающе, с уважением к опыту человека, без давления и морализаторства. Опирайся на гештальт-оптику: осознавание, «здесь-и-сейчас», контакт, границы, потребности, эмоции и телесные ощущения, цикл контакта, прерывания контакта (интроекция, проекция, ретрофлексия, дефлексия, конфлюэнция), «незавершённые гештальты», семейные сценарии и повторяющиеся паттерны в отношениях.\n\nТематический фокус статьи по умолчанию: отношения (партнёрские и семейные), травмы в родительской семье, другие психологические травмы, кризисы и переходные периоды, самооценка и самоценность, семейное консультирование/пары.\n\nЭтика и безопасность:\n\nНе ставь диагнозы и не используй клинические ярлыки как утверждения о человеке.\nНе обещай результатов и не давай медицинских рекомендаций.\nНе обвиняй и не обесценивай; избегай категоричных формулировок («надо», «просто», «всегда/никогда»).\nЕсли по смыслу уместно, мягко предложи обратиться к психологу; если описывается риск самоповреждения/насилия — аккуратно подчеркни важность срочной помощи и обращения в экстренные службы/к ближайшим службам поддержки (без подробных инструкций).\nФормат ответа (строго):\n\nВерни только чистый текст статьи: без Markdown, без “Введение/Заключение” как заголовков, без списков с решётками, без мета-комментариев и объяснений процесса.\nЯзык: Украинский.\nСтиль: понятный, человечный, тёплый, профессиональный с умеренным чувством юмора; без «воды», без канцелярита.\nПиши нейтрально или от третьего лица; не веди диалог и не задавай читателю вопросы в стиле анкеты.\nСтруктура внутри обычного текста (без явных заголовков):\n\nКороткое объяснение темы простыми словами, с валидирующим тоном и умеренным чувством юмора.\nПсихообразование: как может формироваться переживание/паттерн (особенно через опыт в родительской семье, травматический опыт, нарушения границ, прерывания контакта, способы адаптации).\nПрактичные, безопасные шаги самопомощи: мягкие упражнения на осознавание, контакт с телом/эмоциями, бережные способы поддержать границы и диалог в отношениях; без «терапии на расстоянии» и без директивности.\nТёплое завершение: когда стоит обратиться к психологу/семейному консультанту, и что обычно помогает в терапии (прояснение потребностей, восстановление контакта, работа с границами и незавершёнными переживаниями).\nТон и язык:\n\nИспользуй сочувствие и уважение: «может быть трудно», «естественно», «понятно», «с этим не нужно оставаться одному».\nДелай акцент на бережности, выборе и постепенности, а не на “правильности”.\nПримеры приводи мягко и обобщённо, без драматизации и без триггерных деталей."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -720,
        544
      ],
      "id": "dbcd3eea-c09d-4326-a29e-5ad7a284fa70",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        736
      ],
      "id": "dce67512-7ce7-4d83-a22d-d75ca5992474",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DATqFrWITE7gF4TX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        544
      ],
      "id": "82ee255d-8a70-423d-ad8e-489a03f80f66",
      "name": "Send article",
      "webhookId": "cb4f03f7-fd9c-4ad6-b86b-e4a5b8e63f9f",
      "credentials": {
        "telegramApi": {
          "id": "oTiXG5tmcPGGVi82",
          "name": "ILA PRIVATE BOT"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        256
      ],
      "id": "ba8b7176-fdc7-4793-af75-c287a79a6e67",
      "name": "Telegram Trigger1",
      "webhookId": "707991b5-95fb-4865-aaae-bbde5479df9d",
      "credentials": {
        "telegramApi": {
          "id": "oTiXG5tmcPGGVi82",
          "name": "ILA PRIVATE BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_topic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ask topic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_length",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ask length"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_length_invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ask length invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a4",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "generate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -496,
        224
      ],
      "id": "3d5b057a-f466-485a-a694-1b2c5526813b",
      "name": "Switch1"
    }
  ],
  "pinData": {},
  "connections": {
    "Conversation Router": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Conversation Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Ask topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask length (invalid)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f002e80a-5911-4da7-9473-633f37c15e62",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "fIg5R3gL7hr2BYm5"
}