files/workflows/GSMgkkxdrOB4EMEn-Voice.json
{
  "name": "Voice",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f5dcc96b-303b-4a3b-acd7-7e020a49a09b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $json.id }}",
        "text": "voice",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "a8bbe7ae-b69b-4d09-9b93-63fc6d6526a0",
      "name": "Send a text message",
      "webhookId": "e57b9480-73b5-45af-96be-8da50d9008f2",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b25ec88b-0a19-491e-b471-02f6486fef2a",
              "name": "id",
              "value": "={{ $json.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "6ed2fc00-99af-4af0-bcf9-60ec8d0c0ab2",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3e74687-aa41-4970-81ab-5f3b9efa8124",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "GSMgkkxdrOB4EMEn"
}