files/workflows/kUjV65xURS1nraA9-My_workflow_5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e942768e-8e66-4ba0-b057-b0bc7909c0d1",
      "name": "Telegram Trigger",
      "webhookId": "707991b5-95fb-4865-aaae-bbde5479df9d",
      "credentials": {
        "telegramApi": {
          "id": "u3aS20NcAV2qMvfO",
          "name": "Sunny bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0eac2880-33f3-40c7-bdef-eae6d07a4ebb",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/create_a_draft",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -160
      ],
      "id": "105db0ae-e768-464b-b49a-db46551c586b",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=/create_a_draft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "617efcbd-92f4-4353-be59-59f1c5caa611"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create draft"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb853e30-a477-4855-b7fe-956cd5cad033",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/add_meeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add meeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10ee58f2-7ec9-47db-b68b-22984c386e23",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2561560e-604c-4158-b21f-e1282b27087a",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f43f2f63-de1b-46ba-9106-1c357e8bc3da",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "kUjV65xURS1nraA9"
}