files/workflows/kUjV65xURS1nraA9-synny_bot.json
{
  "name": "synny bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        16
      ],
      "id": "e942768e-8e66-4ba0-b057-b0bc7909c0d1",
      "name": "Telegram Trigger",
      "webhookId": "707991b5-95fb-4865-aaae-bbde5479df9d",
      "credentials": {
        "telegramApi": {
          "id": "u3aS20NcAV2qMvfO",
          "name": "Sunny bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=/create_a_draft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "617efcbd-92f4-4353-be59-59f1c5caa611"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create draft"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb853e30-a477-4855-b7fe-956cd5cad033",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/add_meeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add meeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10ee58f2-7ec9-47db-b68b-22984c386e23",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2561560e-604c-4158-b21f-e1282b27087a",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Введи тему статьи",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -224
      ],
      "id": "9d2f2dc3-ceea-44e6-92f0-beff8b516983",
      "name": "Send a text message",
      "webhookId": "4e697746-8bde-4e6a-8451-a6a677a8f310",
      "credentials": {
        "telegramApi": {
          "id": "u3aS20NcAV2qMvfO",
          "name": "Sunny bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "Введи длину строки ",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -224
      ],
      "id": "34a2802b-0652-4f2c-ac1a-edf38c9bb740",
      "name": "Send a text message1",
      "webhookId": "cb4f03f7-fd9c-4ad6-b86b-e4a5b8e63f9f",
      "credentials": {
        "telegramApi": {
          "id": "u3aS20NcAV2qMvfO",
          "name": "Sunny bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -224
      ],
      "id": "65b56a33-7f7f-458e-84bb-2b0a40d7b003",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56fcaa3b-da72-478e-9357-31bd415fc27d",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "kUjV65xURS1nraA9"
}