files/workflows/Mp2G86x51EOsrnmA-Permanent_procedures_scheduler_polling_.json
{
  "name": "Permanent procedures scheduler (polling)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1952,
        256
      ],
      "id": "32014b14-0744-4139-9d51-115b044c158e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "2KUOy48aec2s67nQ",
          "mode": "list",
          "cachedResultName": "Start of permanent procedures",
          "cachedResultUrl": "/projects/glr3xuLfrcXRm0CR/datatables/2KUOy48aec2s67nQ"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "start_time",
              "keyValue": "={{ $json.start_time }}"
            },
            {
              "keyName": "enabled",
              "condition": "isTrue"
            }
          ]
        },
        "limit": null
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1520,
        256
      ],
      "id": "b3db87e5-8a06-4b44-8b89-b71f2aa02141",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Accept",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  },
                  {
                    "text": "Cancel",
                    "additionalFields": {
                      "callback_data": "cancel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -528,
        256
      ],
      "id": "50d9a74e-8da5-4b6e-8d1f-24fe3e258e87",
      "name": "Send a text message",
      "webhookId": "6a78dc58-bf89-409e-8735-d471fbbc0749",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "2KUOy48aec2s67nQ",
          "mode": "list",
          "cachedResultName": "Start of permanent procedures",
          "cachedResultUrl": "/projects/glr3xuLfrcXRm0CR/datatables/2KUOy48aec2s67nQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "start_time",
              "keyValue": "={{ $('search for temporary and active workflows').item.json.start_time }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_started_at": "={{ $('Schedule Trigger1').item.json[\"Readable time\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "days_of_week",
              "displayName": "days_of_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_started_at",
              "displayName": "last_started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1024,
        256
      ],
      "id": "60342d0b-d17c-490b-897a-ecf6241ce17f",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Code in JavaScript2\n\nfunction parseChatIds(v) {\n  const raw = String(v ?? '').trim();\n  if (!raw) return [];\n\n  return raw\n    .split('|')\n    .map(s => s.trim())\n    .map(s => s.replace(/[^\\d-]/g, ''))\n    .filter(Boolean);\n}\n\nconst inputRow = items?.[0]?.json ?? {};\n\nconst msgText = (($items('post-filter', 0, 0) || [])[0]?.json?.text) ?? '';\n \nconst idsFromTable = parseChatIds(inputRow.tg_id_usera);\nconst uniq = Array.from(new Set(idsFromTable));\n\nreturn uniq.map(chatId => ({\n  json: {\n    ...inputRow,\n    chatId,\n    text: msgText,\n     \n\"reply_markup\": \n{\n  \n  \n  \n  \n\"inline_keyboard\": \n[\n  \n  \n  \n  \n  \n[\n  \n  \n  \n  \n  \n  \n{\n  \n  \n  \n  \n  \n  \n  \n\"text\": \n\"Accept\",\n  \n  \n  \n  \n  \n  \n  \n\"callback_data\": \n\"accept\"\n  \n  \n  \n  \n  \n  \n},\n  \n  \n  \n  \n  \n  \n{\n  \n  \n  \n  \n  \n  \n  \n\"text\": \n\"Cancel\",\n  \n  \n  \n  \n  \n  \n  \n\"callback_data\": \n\"cancel\"\n  \n  \n  \n  \n  \n  \n}\n  \n  \n  \n  \n  \n]\n  \n  \n  \n  \n]\n  \n  \n  \n}\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        256
      ],
      "id": "a4dda3f8-5506-484a-8b6a-4624a086dd5f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.data[0].workflow_id }}",
          "cachedResultName": "={{ $json.data[0].workflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -32,
        256
      ],
      "id": "96f0f77c-7336-429e-aca3-353ae665f5c6",
      "name": "Call 'ATA, Vessel and ETA Update'"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript) — combined: filter due rows + build telegram text per row\n// Input: items = rows from Data Table Get row(s)\n// Output: items only for due rows, each: { ...rowFields, text }\n\nconst TZ = 'Europe/Kyiv';\n\nfunction asString(v) {\n  return v === null || v === undefined ? '' : String(v).trim();\n}\n\nfunction isTrue(v) {\n  if (v === true) return true;\n  const s = asString(v).toLowerCase();\n  return s === 'true' || s === '1' || s === 'yes';\n}\n\nfunction parseListToNums(v) {\n  const raw = asString(v);\n  if (!raw) return [];\n  return raw\n    .split(/[|,;\\s]+/g) // поддержка \"1|2|3\" и \"1,2,3\"\n    .map(x => parseInt(x, 10))\n    .filter(n => Number.isFinite(n));\n}\n\nfunction parseDateOnly(v) {\n  const s = asString(v);\n  if (!s) return null;\n\n  const datePart = s.includes('T') ? s.split('T')[0] : s; // YYYY-MM-DD\n  const d = new Date(datePart);\n  if (Number.isNaN(d.getTime())) return null;\n\n  return new Date(Date.UTC(d.getUTCFullYear(), d.getUTCMonth(), d.getUTCDate()));\n}\n\nfunction inDateRange(today, startDate, endDate) {\n  if (startDate && today < startDate) return false;\n  if (endDate && today > endDate) return false;\n  return true;\n}\n\nfunction nowPartsInTz(date) {\n  // Делает текущие части времени/даты в нужном TZ без внешних нод\n  const parts = new Intl.DateTimeFormat('en-GB', {\n    timeZone: TZ,\n    hourCycle: 'h23',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    weekday: 'long',\n  }).formatToParts(date);\n\n  const m = {};\n  for (const p of parts) m[p.type] = p.value;\n  return m; // {year,month,day,hour,minute,weekday}\n}\n\nfunction weekdayToN8n(weekdayEn) {\n  const wd = String(weekdayEn || '').toLowerCase();\n  const map = {\n    monday: 1, tuesday: 2, wednesday: 3, thursday: 4,\n    friday: 5, saturday: 6, sunday: 7,\n  };\n  return map[wd] || null;\n}\n\nfunction fmtWeekdays(daysOfWeek) {\n  const map = { 1: \"Пн\", 2: \"Вт\", 3: \"Ср\", 4: \"Чт\", 5: \"Пт\", 6: \"Сб\", 7: \"Вс\" };\n  const nums = parseListToNums(daysOfWeek).filter(n => n >= 1 && n <= 7);\n\n  if (!nums.length) return \"не задано\";\n\n  const uniq = Array.from(new Set(nums)).sort((a, b) => a - b);\n  const key = uniq.join(\",\");\n\n  if (key === \"1,2,3,4,5\") return \"Пн–Пт\";\n  if (key === \"6,7\") return \"Сб–Вс\";\n  if (key === \"1,2,3,4,5,6,7\") return \"каждый день\";\n\n  return uniq.map(n => map[n]).join(\", \");\n}\n\nfunction toDateOnlyISO(v) {\n  const d = parseDateOnly(v);\n  if (!d) return null;\n  return d.toISOString().slice(0, 10);\n}\n\nfunction fmtDateRange(startDate, endDate) {\n  const s = toDateOnlyISO(startDate);\n  const e = toDateOnlyISO(endDate);\n  if (s && e) return `${s} — ${e}`;\n  if (s && !e) return `с ${s}`;\n  if (!s && e) return `до ${e}`;\n  return `без ограничений`;\n}\n\n// --- NOW ---\nconst schedule = ($items('Schedule Trigger1', 0, 0) || [])[0]?.json ?? {};\nconst now = schedule.timestamp ? new Date(schedule.timestamp) : new Date();\nconst p = nowPartsInTz(now);\n\nconst nowHHMM = `${p.hour}:${p.minute}`;\nconst nowDow = weekdayToN8n(p.weekday);\nconst nowDom = parseInt(p.day, 10);\nconst nowMonth = parseInt(p.month, 10);\nconst today = new Date(Date.UTC(parseInt(p.year, 10), nowMonth - 1, nowDom));\nconst todayStr = `${p.year}-${p.month}-${p.day}`;\n\n// --- FILTER + BUILD ---\nconst out = [];\n\nfor (const item of items) {\n  const r = item.json ?? {};\n\n  // enabled\n  if (Object.prototype.hasOwnProperty.call(r, 'enabled') && !isTrue(r.enabled)) continue;\n\n  // start_time must match HH:MM\n  const rowTime = asString(r.start_time);\n  if (!rowTime || rowTime !== nowHHMM) continue;\n\n  // exact run_date (optional)\n  const runDate = parseDateOnly(r.run_date);\n  if (runDate && today.getTime() !== runDate.getTime()) continue;\n\n  // start_date/end_date window (optional)\n  const startDate = parseDateOnly(r.start_date);\n  const endDate = parseDateOnly(r.end_date);\n  if (!inDateRange(today, startDate, endDate)) continue;\n\n  // days_of_week list (optional; empty => wildcard)\n  const rowDays = parseListToNums(r.days_of_week);\n  if (rowDays.length && nowDow && !rowDays.includes(nowDow)) continue;\n\n  // day-of-month (optional)\n  const domRaw = asString(r.data_of_the_month || r.day_of_month);\n  const dom = domRaw ? parseInt(domRaw, 10) : null;\n  if (dom && nowDom && dom !== nowDom) continue;\n\n  // month (optional)\n  const rowMonths = parseListToNums(r.month);\n  if (rowMonths.length && nowMonth && !rowMonths.includes(nowMonth)) continue;\n\n  // --- BUILD TEXT for Telegram ---\n  const desc = asString(r.description) || '(без описания)';\n  const title = asString(r.workflow_id) || '(без workflow_id)';\n  const time = asString(r.start_time) || '--:--';\n  const days = fmtWeekdays(r.days_of_week);\n  const range = fmtDateRange(r.start_date, r.end_date);\n  const tz = asString(r.timezone) || TZ;\n  const last = asString(r.last_started_at) || 'никогда';\n\n  // если у строки есть id (Data Table часто даёт id) — красиво покажем\n  const rowId = asString(r.id);\n  const idPart = rowId ? `#${rowId} — ` : '';\n\n  const text =\n    `${desc}\\n\\n` +\n    `✅ ${idPart}${title}\\n` +\n    `⏰ ${time} | 📅 ${days} | 🗓 ${range}\\n` +\n    `🌍 TZ: ${tz} | ▶️ last: ${last}`;\n\n  out.push({\n    json: {\n      ...r,\n      text,\n      _now: {\n        start_time: nowHHMM,\n        day_of_week: nowDow,\n        day_of_month: nowDom,\n        month_num: nowMonth,\n        date_yyyy_mm_dd: todayStr,\n      },\n    },\n  });\n}\n\nreturn out; // если пусто — дальше Telegram нода не запустится"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        256
      ],
      "id": "a49ea333-5f49-4c0b-a337-75f544dfdafb",
      "name": "post-filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Code in JavaScript1 (замена)\n// Делает start_time + day_of_week(1..7) + day_of_month + month_num(1..12) из Schedule Trigger timestamp\nconst tz = 'Europe/Kyiv';\n\nfunction partMap(date) {\n  const parts = new Intl.DateTimeFormat('en-GB', {\n    timeZone: tz,\n    hourCycle: 'h23',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    weekday: 'long',\n  }).formatToParts(date);\n\n  const m = {};\n  for (const p of parts) m[p.type] = p.value;\n  return m;\n}\n\nconst now = $json?.timestamp ? new Date($json.timestamp) : new Date();\nconst p = partMap(now);\n\nconst start_time = `${p.hour}:${p.minute}`;\n\n// weekday in English -> 1..7\nconst wd = String(p.weekday || '').toLowerCase();\nconst dowMap = { monday:'1', tuesday:'2', wednesday:'3', thursday:'4', friday:'5', saturday:'6', sunday:'7' };\nconst days_of_week = dowMap[wd] || '1,2,3,4,5,6,7';\n\nreturn [{\n  json: {\n    start_time,\n    days_of_week,                 // текущий день недели числом\n    day_of_month: String(parseInt(p.day, 10)),   // \"29\"\n    month_num: String(parseInt(p.month, 10)),    // \"12\"\n    year: String(parseInt(p.year, 10)),\n    date_yyyy_mm_dd: `${p.year}-${p.month}-${p.day}`,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        256
      ],
      "id": "ec86de87-bb87-4c93-afdb-b7a75ef61cff",
      "name": "search for temporary and active workflows"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        256
      ],
      "id": "e1889916-01fd-435e-9659-e4e873c7583e",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "search for temporary and active workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "post-filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post-filter": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search for temporary and active workflows": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call 'ATA, Vessel and ETA Update'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Kyiv",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "68197b91-4e3e-4ac9-b2f9-ec1cf8bf37cb",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "Mp2G86x51EOsrnmA"
}