files/workflows/sJd5tH0i83qfGgdj-CSV_Lookup_by_ua_customer_code_v2_.json
{
  "name": "CSV Lookup by ua_customer_code (v2)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        -32
      ],
      "id": "a458af93-dc7c-4739-ac55-10dad0068e5c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -352,
        -32
      ],
      "name": "Set Code Example2",
      "id": "5c46e2d2-4e77-4f90-b82f-46bd757ac0ab"
    },
    {
      "parameters": {
        "command": "=CODE=\"{{$json.code}}\"; awk -F';' -v code=\"$CODE\" 'NR==1{for(i=1;i<=NF;i++){h[i]=$i; gsub(/^\"|\"$/,\"\",h[i]); if(h[i]==\"ua_customer_code\") idx=i} if(!idx){print $0; next} print $0; next} { tmp=$idx; gsub(/^\"|\"$/,\"\",tmp); if(tmp==code || (tmp+0)==(code+0)) print $0 }' /files/transport_data_2025.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "id": "f073f410-3e4e-4a63-8a3c-5a91590a5fac",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: parse stdout/binary CSV -> JSON items + binary CSV (with BOM for Excel)\n// Usage: connect Execute Command (or ReadBinaryFile) -> this Code node -> optional Write Binary File (to save CSV)\n// The node reads from $input.first().json.stdout or from $input.first().binary.data.data (base64).\n\ntry {\n  const raw = $input.first()?.json?.stdout ?? (\n    $input.first()?.binary?.data?.data\n      ? Buffer.from($input.first().binary.data.data, 'base64').toString('utf8')\n      : null\n  );\n\n  if (!raw) {\n    return [{ json: { error: 'no_input' } }];\n  }\n\n  // Normalize newlines\n  const text = raw.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n\n  // Robust CSV parser (handles quoted fields, doubled quotes, delimiter = ';')\n  function parseCSV(s, delimiter = ';') {\n    const rows = [];\n    let cur = '';\n    let row = [];\n    let inQuotes = false;\n    for (let i = 0; i < s.length; i++) {\n      const ch = s[i];\n      if (inQuotes) {\n        if (ch === '\"') {\n          if (i + 1 < s.length && s[i + 1] === '\"') {\n            cur += '\"';\n            i++;\n          } else {\n            inQuotes = false;\n          }\n        } else {\n          cur += ch;\n        }\n      } else {\n        if (ch === '\"') {\n          inQuotes = true;\n        } else if (ch === delimiter) {\n          row.push(cur);\n          cur = '';\n        } else if (ch === '\\n') {\n          row.push(cur);\n          cur = '';\n          rows.push(row);\n          row = [];\n        } else {\n          cur += ch;\n        }\n      }\n    }\n    if (cur !== '' || row.length > 0) {\n      row.push(cur);\n      rows.push(row);\n    }\n    return rows;\n  }\n\n  const rowsAll = parseCSV(text, ';');\n  if (!rowsAll || rowsAll.length === 0) {\n    return [{ json: { error: 'no_rows' } }];\n  }\n\n  // Header (keep original header text for CSV output, but create safe JSON keys)\n  const header = rowsAll.shift().map(h => (h ?? '').toString().trim());\n\n  function sanitizeKey(k, idx) {\n    if (!k || k.trim() === '') return `col_${idx + 1}`;\n    return k.trim().replace(/\\s+/g, '_').replace(/[^\\w\\-]/g, '_');\n  }\n  const keys = header.map((h, i) => sanitizeKey(h, i));\n\n  // Optional cleanup: strip trailing .0 from integer-looking numeric codes (e.g., \"5540209.0\" -> \"5540209\")\n  function cleanValue(v) {\n    if (v == null) return '';\n    const s = v.toString();\n    const trimmed = s.trim();\n    if (/^\\d+(\\.0+)?$/.test(trimmed)) return trimmed.replace(/\\.0+$/, '');\n    return trimmed;\n  }\n\n  // Build JSON items\n  const itemsJson = rowsAll.map(r => {\n    const obj = {};\n    for (let i = 0; i < keys.length; i++) {\n      obj[keys[i]] = (r[i] !== undefined) ? cleanValue(r[i]) : '';\n    }\n    return obj;\n  });\n\n  // Build CSV text again (quote fields when needed) and include BOM for Excel\n  function quoteField(f) {\n    if (f === null || f === undefined) return '';\n    const s = f.toString();\n    if (s.indexOf(';') !== -1 || s.indexOf('\"') !== -1 || s.indexOf('\\n') !== -1 || s.indexOf('\\r') !== -1) {\n      return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n    }\n    return s;\n  }\n\n  const outLines = [ header.map(quoteField).join(';') ];\n  for (const r of rowsAll) {\n    const cols = [];\n    for (let i = 0; i < keys.length; i++) {\n      cols.push(quoteField((r[i] !== undefined) ? cleanValue(r[i]) : ''));\n    }\n    outLines.push(cols.join(';'));\n  }\n  const csvText = outLines.join('\\r\\n') + '\\r\\n';\n  const csvBase64 = Buffer.from('\\uFEFF' + csvText, 'utf8').toString('base64'); // BOM added\n\n  // Pick a sensible filename: prefer incoming $input.first().json.code if present, else 'matches'\n  const codeVal = $input.first()?.json?.code ?? itemsJson[0]?.ua_customer_code ?? 'result';\n  const filename = `matches_${codeVal}.csv`;\n\n  // Prepare output: first element contains binary CSV (for Write Binary File), then JSON items\n  const output = [];\n\n  // summary + binary on first element\n  output.push({\n    json: {\n      _summary: {\n        row_count: itemsJson.length,\n        filename\n      },\n      // put first row also inside json for convenience if you need it\n      first_row: itemsJson.length ? itemsJson[0] : null\n    },\n    binary: {\n      data: {\n        data: csvBase64,\n        fileName: filename,\n        mimeType: 'text/csv; charset=utf-8'\n      }\n    }\n  });\n\n  // remaining JSON rows as separate items (useful for Spreadsheet/Google Sheets nodes)\n  for (let i = 0; i < itemsJson.length; i++) {\n    output.push({ json: itemsJson[i] });\n  }\n\n  return output;\n} catch (err) {\n  return [{ json: { error: true, message: err.message, stack: err.stack } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -32
      ],
      "id": "08632fc4-09ba-480c-acb1-0781fc284d89",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "code": "05540209"
        }
      }
    ],
    "Execute Command": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": "c_md_type;c_declaration_number;c_custom;custom_office_code;c_trading_country;c_country_of_shipping;c_country_of_origin;incoterms;c_transport_on_border;с_transport_in_UA;c_cargo_number;c_code_of_cargo;c_cargo;ua_customer_code;c_importer_1;c_exporter_1;c_exporter;ua_customer_code_2;c_importer_2;c_cargo_count_units;c_cargo units;c_gross_weight;c_invoice_amount;c_custom_value_amount;imp/exp;year;month;c_destin_country\r\n40;UA209190;ЛЬВІВСЬКА МИТНИЦЯ;ВІДДІЛ МИТНОГО ОФОРМЛЕННЯ N 3 МИТНОГО ПОСТА ГОРОДОК;Естонія;Китай;Китай;CIF;30.0;30.0;1.0;2931900090.0;МЕТИЛ ТРИХЛОР СИЛАН METHYLTRICHLOROSILANE CAS 75 79 6 CH3CL3SI ПРОЗОРА РІДИНА БЕ;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;ITOIL TRADE OUFOSFORIIDI 4 74114 MAARDU ESTONIA;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;0.0;20120.0;18400.0;19874.79;imp;2025;1;\r\n40;UA209190;ЛЬВІВСЬКА МИТНИЦЯ;ВІДДІЛ МИТНОГО ОФОРМЛЕННЯ N 3 МИТНОГО ПОСТА ГОРОДОК;Естонія;Китай;Китай;CIF;30.0;30.0;1.0;2931900090.0;МЕТИЛ ТРИХЛОР СИЛАН METHYLTRICHLOROSILANE CAS 75 79 6 CH3CL3SI ПРОЗОРА РІДИНА БЕ;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;ITOIL TRADE OUFOSFORIIDI 4 74114 MAARDU ESTONIA;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;0.0;20120.0;18400.0;19837.9;imp;2025;1;\r\n40;UA209190;ЛЬВІВСЬКА МИТНИЦЯ;ВІДДІЛ МИТНОГО ОФОРМЛЕННЯ N 3 МИТНОГО ПОСТА ГОРОДОК;Естонія;Китай;Китай;CIF;30.0;30.0;1.0;2931900090.0;МЕТИЛ ТРИХЛОР СИЛАН METHYLTRICHLOROSILANE CAS 75 79 6 CH3CL3SI ПРОЗОРА РІДИНА БЕ;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;ITOIL TRADE OUFOSFORIIDI 4 74114 MAARDU ESTONIA;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;0.0;20120.0;18400.0;19874.79;imp;2025;1;\r\n40;UA209190;ЛЬВІВСЬКА МИТНИЦЯ;ВІДДІЛ МИТНОГО ОФОРМЛЕННЯ N 3 МИТНОГО ПОСТА ГОРОДОК;Естонія;Китай;Китай;CIF;30.0;30.0;1.0;2931900090.0;МЕТИЛ ТРИХЛОР СИЛАН METHYLTRICHLOROSILANE CAS 75 79 6 CH3CL3SI ПРОЗОРА РІДИНА БЕ;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;ITOIL TRADE OUFOSFORIIDI 4 74114 MAARDU ESTONIA;5540209.0;Д П КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;0.0;20120.0;18400.0;19843.16;imp;2025;1;\r\n ІМ/40/ДЕ;3345;209;UA209190;;Китайська Народна Республіка;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1. МЕТИЛ ТРИХЛОР СИЛАН/Methyltrichlorosilane, cas 75-79-6 (CH3Cl3Si), ПРОЗОРА РІ;5540209.0;\"Д.П. \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;ITOIL Trade OU;41214597.0;;;;20120.0;17756.0;19181.0131189186;imp;2025;2;\r\n ІМ/40/ДЕ;3346;209;UA209190;;Китайська Народна Республіка;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1. МЕТИЛ ТРИХЛОР СИЛАН/Methyltrichlorosilane, cas 75-79-6 (CH3Cl3Si), ПРОЗОРА РІ;5540209.0;\"Д.П. \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;ITOIL Trade OU;41214597.0;;;;20120.0;17756.0;19181.0131189186;imp;2025;2;\r\n ІМ/40/ДЕ;3437;209;UA209190;;Китайська Народна Республіка;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1. МЕТИЛ ТРИХЛОР СИЛАН/Methyltrichlorosilane, cas 75-79-6 (CH3Cl3Si), ПРОЗОРА РІ;5540209.0;\"Д.П. \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;ITOIL Trade OU;41214597.0;;;;20120.0;17756.0;19163.9561144091;imp;2025;2;\r\n ІМ/40/ДЕ;3606;209;UA209190;;Китайська Народна Республіка;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1. МЕТИЛ ТРИХЛОР СИЛАН/Methyltrichlorosilane, cas 75-79-6 (CH3Cl3Si), ПРОЗОРА РІ;5540209.0;\"Д.П. \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;ITOIL Trade OU;41214597.0;;;;20120.0;17756.0;19162.5615479304;imp;2025;2;\r\n;1227;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;UA206060;;Польща;Китай;CIF;НЕВІДОМИЙ;НЕВІДОМИЙ;;2931900090.0;ІНШІ ОРГАНО-НЕОРГАНІЧНІ СПОЛУКИ: - ІНШІ: - - ІНШІ;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITED RM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;1.0;;;15609.0;15609.0;imp;2025;3;\r\n;1232;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;UA206060;;Польща;Китай;CIF;НЕВІДОМИЙ;НЕВІДОМИЙ;;2931900090.0;ІНШІ ОРГАНО-НЕОРГАНІЧНІ СПОЛУКИ: - ІНШІ: - - ІНШІ;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITED RM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;1.0;;;15609.0;15609.0;imp;2025;3;\r\n;1283;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;UA206060;;Польща;Китай;CIF;НЕВІДОМИЙ;НЕВІДОМИЙ;;2931900090.0;ІНШІ ОРГАНО-НЕОРГАНІЧНІ СПОЛУКИ: - ІНШІ: - - ІНШІ;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITED RM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;1.0;;;15609.0;15609.0;imp;2025;3;\r\n;1282;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;UA206060;;Польща;Китай;CIF;НЕВІДОМИЙ;НЕВІДОМИЙ;;2931900090.0;ІНШІ ОРГАНО-НЕОРГАНІЧНІ СПОЛУКИ: - ІНШІ: - - ІНШІ;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITED RM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;1.0;;;15609.0;15609.0;imp;2025;3;\r\n ІМ/40/ДЕ;2027;206;UA206060;;Гонконг;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1.МЕТИЛТРИХЛОРСИЛАН (М1)(METHYLTRICHLOROSILANE). UN:1250. CAS 75-79-6. CLASS:3.М;5540209.0;\"ДП \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;HONG KONG ONO TRADING LIMITED;2709612016.0;ITOIL TRADE OU;;;20120.0;15608.72;18384.8689663505;imp;2025;4;\r\n ІМ/40/ДЕ;2029;206;UA206060;;Гонконг;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1.МЕТИЛТРИХЛОРСИЛАН (М1)(METHYLTRICHLOROSILANE). UN:1250. CAS 75-79-6. CLASS:3.М;5540209.0;\"ДП \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;HONG KONG ONO TRADING LIMITED;2709612016.0;ITOIL TRADE OU;;;20120.0;15608.72;18357.3793270102;imp;2025;4;\r\n ІМ/40/ДЕ;2136;206;UA206060;;Гонконг;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1.МЕТИЛТРИХЛОРСИЛАН (М1)(METHYLTRICHLOROSILANE). UN:1250. CAS 75-79-6. CLASS:3.М;5540209.0;\"ДП \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;HONG KONG ONO TRADING LIMITED;2709612016.0;ITOIL TRADE OU;;;20120.0;15608.72;18337.9446867522;imp;2025;4;\r\n ІМ/40/ДЕ;2136;206;UA206060;;Гонконг;Китайська Народна Республіка;CIF;30.0;30.0;1.0;2931900090.0;1.МЕТИЛТРИХЛОРСИЛАН (М1)(METHYLTRICHLOROSILANE). UN:1250. CAS 75-79-6. CLASS:3.М;5540209.0;\"ДП \"\"КАЛУСЬКИЙ ДОСЛІДНО-ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ\"\"\";;HONG KONG ONO TRADING LIMITED;2709612016.0;ITOIL TRADE OU;;;20120.0;15608.72;18337.9446867522;imp;2025;4;\r\n40;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Словаччина;Словаччина;Країни єс;FCA;ВАНТАЖНИЙ АВТОМОБІЛЬ;ВАНТАЖНИЙ АВТОМОБІЛЬ;1.0;4819300000.0;ПАПЕРОВІ МІШКИ КЛЕЄНІ З КЛАПАНОМ ТРИШАРОВІ ПАПЕРОВІ КЛАПАННІ МІШКИ 720X1050 2181;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;MONDI HAMMELBURG GMBH THURINGEBSTR 1 3 97762 HAMMELBURG DE;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;0.0;КГ;13313.11;47469.74;49656.47;imp;2025;6;\r\n40;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Естонія;Естонія;Китай;CIF;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;1.0;2931900090.0;МЕТИЛТРИХЛОРСИЛАН М1 METHYLTRICHLOROSILANE UN 1250 CAS 75 79 6 CLASS 3 МОЛЕКУЛЯР;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITEDRM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;0.0;КГ;20120.0;15608.72;17408.71;imp;2025;6;\r\n40;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Естонія;Естонія;Китай;CIF;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;1.0;2931900090.0;МЕТИЛТРИХЛОРСИЛАН М1 METHYLTRICHLOROSILANE UN 1250 CAS 75 79 6 CLASS 3 МОЛЕКУЛЯР;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITEDRM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;0.0;КГ;20120.0;15608.72;17408.71;imp;2025;6;\r\n40;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Естонія;Естонія;Китай;CIF;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;1.0;2931900090.0;МЕТИЛТРИХЛОРСИЛАН М1 METHYLTRICHLOROSILANE UN 1250 CAS 75 79 6 CLASS 3 МОЛЕКУЛЯР;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITEDRM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;0.0;КГ;20120.0;15608.72;17408.71;imp;2025;6;\r\n40;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Естонія;Естонія;Китай;CIF;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;КОНТЕЙНЕР НА ЗАЛІЗНИЧНОМУ ВАГОНІ;1.0;2931900090.0;МЕТИЛТРИХЛОРСИЛАН М1 METHYLTRICHLOROSILANE UN 1250 CAS 75 79 6 CLASS 3 МОЛЕКУЛЯР;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITEDRM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;0.0;КГ;20120.0;15608.72;17408.71;imp;2025;6;\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Польща;Україна;;DAP;30;30;;2811220000.0;МЕТИЛКРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ МОДИФІКОВАНИЙ АМ 2 120 ТОРГОВА НАЗВА VULKAFIL HB ;5540209.0;TORIMEX GROUP SP Z O O UL INNOWACYJNA 8 95 050 KONSTANTYNOW LODZKI POLSKA;;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;730.95;5325.97;5330.0;exp;2025;1;Польща\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Туреччина;Україна;;DAP;30;30;;2811220000.0;ПІРОГЕННИЙ КРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ 200 ТОРГОВА НАЗВА FUMED SILICA FUMASIL H20 ;5540209.0;ASIL KIMYA VE BOYA SAN TIC A S LIBADIYE CAD CAMLIBEL SOK NO 18 K CAMLICA USKUDAR ISTANBUL TURKEY;;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;5069.0;17707.38;17710.0;exp;2025;1;Туреччина\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Данія;Україна;;DAP;30;30;;2811220000.0;ПІРОГЕННИЙ КРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ 380 ТОРГОВА НАЗВА KEMITURASIL 380 440 КГ ПІ;5540209.0;CORQUIMIA INDUSTRIAL S L AV DELS VENTS NO 9 13 ESC B 2 3 E 08917 BADALONA BARCELONA SPAIN;;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;5795.0;25193.0;25190.0;exp;2025;1;Іспанія\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Туреччина;Україна;;DAP;30;30;;2811220000.0;ПІРОГЕННИЙ КРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ 150 ТОРГОВА НАЗВА FUMED SILICA FUMASIL H15 ;5540209.0;ASIL KIMYA VE BOYA SAN TIC A S LIBADIYE CAD CAMLIBEL SOK NO 18 K CAMLICA USKUDAR ISTANBUL TURKEY;;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;5069.0;17975.12;17980.0;exp;2025;1;Туреччина\r\n40;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Естонія;Гонконг сянган;Китай;CIF;ВАНТАЖНИЙ АВТОМОБІЛЬ;ВАНТАЖНИЙ АВТОМОБІЛЬ;1.0;2931900090.0;МЕТИЛТРИХЛОРСИЛАН М1 METHYLTRICHLOROSILANE UN 1250 CAS 75 79 6 CLASS 3 МОЛЕКУЛЯР;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITEDRM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;0.0;КГ;20120.0;15608.72;18314.93;imp;2025;7;\r\n40;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Естонія;Гонконг сянган;Китай;CIF;ВАНТАЖНИЙ АВТОМОБІЛЬ;ВАНТАЖНИЙ АВТОМОБІЛЬ;1.0;2931900090.0;МЕТИЛТРИХЛОРСИЛАН М1 METHYLTRICHLOROSILANE UN 1250 CAS 75 79 6 CLASS 3 МОЛЕКУЛЯР;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;HONG KONG ONO TRADING LIMITEDRM A29 24TH FL REGENT S PARK PRINCE INDUSTRIAL BLDG NO 706 PRINCE E;5540209.0;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;0.0;КГ;20120.0;15608.72;18314.93;imp;2025;7;\r\n;UA206060;UA305090;;Словаччина;;Україна;FCA;ВАНТАЖНИЙ АВТОМОБІЛЬ;ВАНТАЖНИЙ АВТОМОБІЛЬ;1.0;2811220000.0;ПІРОГЕННИЙ КРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ 200 220 КГ СИПУЧИЙ ПОРОШОК БІЛОГО КОЛЬОРУ Б;5540209.0;LAVOLLEE SAS9 RUE LOUIS ROUQUIER 92300 LEVALLOIS FRANCE;;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;;0.0;;220.0;;;exp;2025;8;Франція\r\n;UA206060;UA305090;;Данія;;Данія;FCA;ВАНТАЖНИЙ АВТОМОБІЛЬ;ВАНТАЖНИЙ АВТОМОБІЛЬ;1.0;2811220000.0;МЕТИЛКРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ МОДИФІКОВАНИЙ АМ 1 120 ТОРГОВА Н АЗВА KEMITURASIL;5540209.0;KEMITURA A SINDUSTRIVEJ 9 DK 3540 LYNGE DENMARK;;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;;;0.0;;5500.0;;;exp;2025;8;Данія\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Польща;Україна;;DAP;30;30;;2811220000.0;ПІРОГЕННИЙ КРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ 200 ТОРГОВА НАЗВА TORIFLEX HF 200 4400 КГ П;5540209.0;TORIMEX GROUP SP Z O O UL INNOWACYJNA 8 95 050 KONSTANTYNOW LODZKI POLSKA;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;5146.6;19181.62;19180.0;exp;2025;9;Польща\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Данія;Україна;;DAP;30;30;;2811220000.0;ПІРОГЕННИЙ КРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ 380 ТОРГОВА НАЗВА KEMITURASIL 380 440 КГ ПІ;5540209.0;CORQUIMIA INDUSTRIAL S L AV DELS VENTS NO 9 13 ESC B 2 3 E 08917 BADALONA BARCELONA SPAIN;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;6034.0;28336.0;28340.0;exp;2025;9;Іспанія\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Данія;Україна;;FCA;30;30;;2811220000.0;МЕТИЛКРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ МОДИФІКОВАНИЙ АМ 2 120 ТОРГОВА НАЗВА KEMITURASIL ;5540209.0;KEMITURA A SINDUSTRIVEJ 9 DK 3540 LYNGE DENMARK;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;233.0;1360.0;1360.0;exp;2025;9;Данія\r\n10;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Данія;Україна;;FCA;30;30;;2811220000.0;МЕТИЛКРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ МОДИФІКОВАНИЙ АМ 2 120 ТОРГОВА НАЗВА KEMITURASIL ;5540209.0;KEMITURA A SINDUSTRIVEJ 9 DK 3540 LYNGE DENMARK;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;5966.0;31680.0;31680.0;exp;2025;9;Данія\r\n10.0;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Польща;Україна;;DAP;30.0;30.0;;2811220000.0;МЕТИЛКРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ МОДИФІКОВАНИЙ АМ 1 120 ТОРГОВА НАЗВА TORIFLEX HB ;5540209.0;TORIMEX GROUP SP Z O O UL INNOWACYJNA 8 95 050 KONSTANTYNOW LODZKI POLSKA;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;364.0;3146.58;3150.0;exp;2025;10;Польща\r\n10.0;UA206060;ІВАНО ФРАНКІВСЬКА МИТНИЦЯ;МИТНИЙ ПОСТ КАЛУШ;Словаччина;Україна;;FCA;31.0;31.0;;2811220000.0;ПІРОГЕННИЙ КРЕМНЕЗЕМ ДІОКСИД КРЕМНІЮ 200 ТОРГОВА НАЗВА FUMED SILICA ASIL 200 320;5540209.0;DEEKS AND CO PO BOX 56192 USA;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;ДП КАЛУСЬКИЙ ДОСЛІДНО ЕКСПЕРИМЕНТАЛЬНИЙ ЗАВОД ІХП НАН УКРАЇНИ УКРАЇНА 77311 ІВАНО ФРАНКІВСЬКА ОБЛ М КАЛУШ 11 А 8;5540209.0;;1.0;;4965.0;19712.51;19710.0;exp;2025;10;Сполучені штати америки"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Code Example2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Code Example2": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b27074fd-487d-4053-b838-d5ddae2e69e8",
  "meta": null,
  "id": "sJd5tH0i83qfGgdj"
}