files/workflows/Wmoqh0NGKOmileAN-WF_006_Location_of_the_vessel.json
{
  "name": "WF_006_Location of the vessel",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"anArray\": []\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        512,
        464
      ],
      "id": "21baa2fd-698e-44cd-874e-3e6f3dec279d",
      "name": "When Executed by Another Workflow",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "4GSKuEvYZhmWFbNZ",
          "mode": "list",
          "cachedResultName": "WF_execution_log",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/4GSKuEvYZhmWFbNZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UUID": "={{ $execution.id }}",
            "WF_name": "={{ $workflow.id }}",
            "task_owner": "Office manager",
            "task_assignee": "System",
            "task_type": "Regolar ",
            "status": "cancel",
            "date_time_declined": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "UUID",
              "displayName": "UUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WF_name",
              "displayName": "WF_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_owner",
              "displayName": "task_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_assignee",
              "displayName": "task_assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_group",
              "displayName": "task_group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_assigned",
              "displayName": "date_time_assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_declined",
              "displayName": "date_time_declined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_accepted",
              "displayName": "date_time_accepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_done",
              "displayName": "date_time_done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1712,
        448
      ],
      "id": "93e4688a-a740-4b6c-8218-8ef1f1441658",
      "name": "Insert row2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "68GlEI8ygwenPt66",
          "mode": "list",
          "cachedResultName": "Start of permanent procedures",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/68GlEI8ygwenPt66"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Code in JavaScript5').item.json.id_after_hash }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_started_at": "={{ $now }}",
            "status": "cancelled"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tg_id_usera",
              "displayName": "tg_id_usera",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time_to_complete_the_procedure",
              "displayName": "time_to_complete_the_procedure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "days_of_week",
              "displayName": "days_of_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_of_the_month",
              "displayName": "data_of_the_month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_started_at",
              "displayName": "last_started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completed",
              "displayName": "completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1936,
        448
      ],
      "id": "25ada7ec-fc61-4060-b156-d7b2a258d413",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "jsCode": "const data = String($json.anArray?.[0]?.callback_query?.data ?? '');\nconst id_after_hash = Number((data.split('|').pop() || '').trim()) || null;\n\nreturn [{ json: { id_after_hash } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        448
      ],
      "id": "bdb07458-da91-4917-a752-e771c8ca327d",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Switch').item.json.anArray[0].callback_query.message.chat.id }}",
        "messageId": "={{ $('Switch').item.json.anArray[0].callback_query.message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2784,
        448
      ],
      "id": "0a8167dd-c296-4af5-86ac-bb6bfdd46561",
      "name": "Delete a chat message3",
      "webhookId": "5e779f40-4188-4387-9d3a-69af1d098880",
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.anArray[0].callback_query.message.chat.id }}",
        "text": "Отказался принимать задачу в финансовом боте",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2576,
        448
      ],
      "id": "fbdd516c-c4e2-4c3e-886d-a5c90d2033d3",
      "name": "Send a text message2",
      "webhookId": "45dbc8ff-0214-4a1e-af7d-2907fbbb3aa8",
      "credentials": {
        "telegramApi": {
          "id": "xD3HGL0soBI3karm",
          "name": "Big brother is ...."
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $('Switch').first().json.anArray[0].callback_query.message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2128,
        80
      ],
      "id": "0ded36e7-a680-4142-bb51-5770634ec0f2",
      "name": "Delete a chat message",
      "webhookId": "824f3aa0-e185-45fe-9715-d5dceea7b64b",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Etz1zzjjSo70AMmQ",
          "mode": "list",
          "cachedResultName": "sea fright",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/Etz1zzjjSo70AMmQ"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "On_board",
              "keyValue": "yes"
            },
            {
              "keyName": "ATA"
            }
          ]
        },
        "limit": 150
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1504,
        80
      ],
      "id": "04f9a9f9-8adc-46b7-ab92-340b7a2777d1",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Берём все входящие строки (items)\nconst rows = $input.all().map(i => i.json);\n\n// Нормализация названия судна (чтобы \"MSC FLAVIA\" и \"MSC FLAVIA \" считались одним)\nfunction normVessel(v) {\n  return (v ?? '').toString().replace(/\\s+/g, ' ').trim();\n}\n\n// 1) Группируем: судно -> Set букингов\nconst byVessel = new Map(); // vesselKey -> { vessel, bookings:Set<string> }\n\nfor (const r of rows) {\n  const vessel = normVessel(r.Vessel);\n  if (!vessel) continue;\n\n  const vesselKey = vessel.toLowerCase();\n\n  if (!byVessel.has(vesselKey)) {\n    byVessel.set(vesselKey, { vessel, bookings: new Set() });\n  }\n\n  const booking = (r.Booking_number ?? '').toString().trim();\n  if (booking) byVessel.get(vesselKey).bookings.add(booking);\n}\n\n// 2) Формируем items для отправки в Telegram\nconst vessels = Array.from(byVessel.values()).sort((a, b) =>\n  a.vessel.localeCompare(b.vessel, 'ru')\n);\n\nreturn vessels.map(({ vessel, bookings }) => {\n  const bookingList = Array.from(bookings).sort((a, b) => a.localeCompare(b, 'ru'));\n  const bookingsText = bookingList.length\n    ? `\\nБукінги:\\n- ${bookingList.join('\\n- ')}`\n    : `\\nБукінги: (немає даних)`;\n\n  return {\n    json: {\n      vessel,\n      bookingList,\n      messageText: `Оновіть місцезнаходження судна: ${vessel}${bookingsText}`,\n      inlineKeyboard: {\n        rows: [\n          {\n            row: {\n              buttons: [\n                {\n                  text: 'Ввести нові координати',\n                  additionalFields: {\n                    callback_data: `coords|${vessel}|new_coords`,\n                  },\n                },\n                {\n                  text: 'Ввести нову назву судна',\n                  additionalFields: {\n                    callback_data: `coords|${vessel}|new_vessel`,\n                  },\n                },\n              ],\n            },\n          },\n        ],\n      },\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        80
      ],
      "id": "a2a9a5e5-1922-4980-b6b3-02f3223c0d55",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').first().json.anArray[0].callback_query.message.chat.id }}",
        "text": "={{ $json.messageText }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.inlineKeyboard.rows[0].row.buttons[0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.inlineKeyboard.rows[0].row.buttons[0].additionalFields.callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.inlineKeyboard.rows[0].row.buttons[1].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.inlineKeyboard.rows[0].row.buttons[1].additionalFields.callback_data }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        80
      ],
      "id": "b92134b7-6f5e-4efc-87cf-7f6273d88a13",
      "name": "Send a text message3",
      "webhookId": "684b3f32-8368-4963-8366-d59417ec0ae2",
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ac588635-e662-4887-a383-9e16ecf8e5dc",
                    "leftValue": "={{ $json.anArray?.[0]?.callback_query?.data || '' }}",
                    "rightValue": "coords|accept",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=accept"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.anArray?.[0]?.callback_query?.data || '' }}",
                    "rightValue": "|new_coords",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "01e33cdc-d74a-4ae6-b17d-9bee4a644eea"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "coords"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a5c328f8-8dcd-4e06-a0c7-3b0b10858935",
                    "leftValue": "={{ $json.anArray?.[0]?.callback_query?.data || '' }}",
                    "rightValue": "coords|cancel",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d07f28d4-f742-4ef6-9b31-a290f03ca1c4",
                    "leftValue": "={{ $json.anArray?.[0]?.message?.reply_to_message?.text || '' }}",
                    "rightValue": "Enter the vessel's location",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update coords"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf6924bd-0a47-4dfc-ad22-83dd531e2982",
                    "leftValue": "={{ $json.anArray?.[0]?.callback_query?.data || '' }}",
                    "rightValue": "|new_vessel",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_vessel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6ba266c0-94f9-44d4-a05f-625135295b2a",
                    "leftValue": "={{ $json.anArray[0].message.reply_to_message.text || '' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enter the vessel name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        400
      ],
      "id": "5c201e23-0c28-4d7d-9b6c-e36be16e1afe",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ \"Enter the vessel's location \" + $json.vessel + \"\\n\\nhttps://www.marinetraffic.com\" }}",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true,
          "selective": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('When Executed by Another Workflow').item.json.anArray[0].callback_query.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        256
      ],
      "id": "dafaa519-f418-47b6-8dc2-04112ff06e2d",
      "name": "Send a text message1",
      "webhookId": "96b18f2a-0667-40c5-bd5f-f24bb27dc132",
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Etz1zzjjSo70AMmQ",
          "mode": "list",
          "cachedResultName": "sea fright",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/Etz1zzjjSo70AMmQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Vessel",
              "condition": "like",
              "keyValue": "={{ ((($json.anArray[0].message.reply_to_message.text || '').match(/Enter the vessel's location\\s+([^\\n\\r]+)/i) || [,''])[1]).trim() }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vessel_position": "={{ 'https://www.google.com/maps?q=' + $json.anArray[0].message.text.replace(/\\s+/g,'') + '&z=9' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deals",
              "displayName": "Deals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Imp_exp",
              "displayName": "Imp_exp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shipping_line",
              "displayName": "Shipping_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booking_number",
              "displayName": "Booking_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POL",
              "displayName": "POL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POD",
              "displayName": "POD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Container_type",
              "displayName": "Container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vessel",
              "displayName": "Vessel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ETD",
              "displayName": "ETD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ETA",
              "displayName": "ETA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "On_board",
              "displayName": "On_board",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HBL",
              "displayName": "HBL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit_Share",
              "displayName": "Profit_Share",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telex_release",
              "displayName": "Telex_release",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DTHC",
              "displayName": "DTHC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ATA",
              "displayName": "ATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "vessel_position",
              "displayName": "vessel_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1504,
        624
      ],
      "id": "e6da1769-9630-40aa-a089-08663eb0f527",
      "name": "Update row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const first = $('When Executed by Another Workflow').first().json.anArray[0] ?? {};\nconst cb = first.callback_query ?? {};\nconst data = String(cb.data ?? '');\n\nconst parts = data.split('|').map(s => s.trim()).filter(Boolean);\n\nconst type = parts[0] ?? '';\nconst status = parts.length >= 3 ? (parts[parts.length - 1] ?? '') : '';\nconst vessel = parts.length >= 2 ? parts.slice(1, parts.length - 1).join('|').trim() : '';\n\nconst chatId = cb.message?.chat?.id ?? null;\nconst messageId = cb.message?.message_id ?? null;\n\nreturn [{\n  json: {\n    type,          // \"coords\"\n    vessel,        // \"SEASPAN YANGTZE\" (или с | внутри — сохранится)\n    status,        // \"new_coords\"\n    chatId,\n    callbackData: messageId ? `${data}|${messageId}` : data,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        256
      ],
      "id": "8c8a7983-92c4-4e60-a571-5a1810d2c247",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Switch').item.json.anArray[0].message.chat.id }}",
        "messageId": "={{ $('Switch').item.json.anArray[0].message.reply_to_message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        624
      ],
      "id": "1d9602b2-6dc5-4978-a48c-b4e83da49f4b",
      "name": "Delete a chat message1",
      "webhookId": "0e1a41cf-17ac-4c3e-a341-1d460bff978c",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Switch').item.json.anArray[0].message.reply_to_message.chat.id }}",
        "messageId": "={{ $('Switch').item.json.anArray[0].message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2176,
        624
      ],
      "id": "7c7c431b-b006-4d9f-afec-c79c8ba78113",
      "name": "Delete a chat message2",
      "webhookId": "48a3a5a0-ff3a-49ef-8c8d-8e5089580329",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "4GSKuEvYZhmWFbNZ",
          "mode": "list",
          "cachedResultName": "WF_execution_log",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/4GSKuEvYZhmWFbNZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WF_name": "={{ $('Update row(s)1').item.json.name_workflow }}",
            "task_owner": "System",
            "task_type": "Regular",
            "task_group": "System",
            "task_description": "Start of updating the position of ships",
            "status": "cancel",
            "date_time_assigned": "={{ $now }}",
            "date_time_declined": "={{ $now }}",
            "date_time_accepted": "={{ $now }}",
            "UUID": "={{ $execution.id}}",
            "date_time_done": "={{ $now }}",
            "task_assignee": "Office manager"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "UUID",
              "displayName": "UUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WF_name",
              "displayName": "WF_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_owner",
              "displayName": "task_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_assignee",
              "displayName": "task_assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_group",
              "displayName": "task_group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_assigned",
              "displayName": "date_time_assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_declined",
              "displayName": "date_time_declined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_accepted",
              "displayName": "date_time_accepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_done",
              "displayName": "date_time_done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2368,
        448
      ],
      "id": "1be99f56-dec4-4e17-8129-88f250d214a6",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "orvzFdhR7uCZR23l",
          "mode": "list",
          "cachedResultName": "HEE_Team",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/orvzFdhR7uCZR23l"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_account",
              "keyValue": "={{ $json.tg_id_usera }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2144,
        448
      ],
      "id": "0d4a1028-bbfc-4a01-afd5-6f1b47d1653a",
      "name": "Get row(s)1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "4GSKuEvYZhmWFbNZ",
          "mode": "list",
          "cachedResultName": "WF_execution_log",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/4GSKuEvYZhmWFbNZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_owner": "System",
            "task_type": "Regular",
            "task_group": "System",
            "task_description": "Start of updating the position of ships",
            "status": "assigned",
            "date_time_assigned": "={{ $now }}",
            "date_time_declined": "={{ $now }}",
            "date_time_accepted": "={{ $now }}",
            "UUID": "={{ $execution.id }}",
            "date_time_done": "={{ $now }}",
            "task_assignee": "Office manager",
            "WF_name": "={{ $workflow.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "UUID",
              "displayName": "UUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WF_name",
              "displayName": "WF_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_owner",
              "displayName": "task_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_assignee",
              "displayName": "task_assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_group",
              "displayName": "task_group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_assigned",
              "displayName": "date_time_assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_declined",
              "displayName": "date_time_declined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_accepted",
              "displayName": "date_time_accepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_time_done",
              "displayName": "date_time_done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2560,
        80
      ],
      "id": "9e531de4-1af0-4a5d-890d-5890c8d6532b",
      "name": "Insert row1",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "orvzFdhR7uCZR23l",
          "mode": "list",
          "cachedResultName": "HEE_Team",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/orvzFdhR7uCZR23l"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tg_account",
              "keyValue": "={{ $('Send a text message3').item.json.result.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2352,
        80
      ],
      "id": "9be1827a-f0ad-422b-996e-5aebfab0028a",
      "name": "Get row(s)2",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Get row(s)3').item.json.description }}",
        "messageId": "={{ $('Get row(s)3').item.json.value }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        624
      ],
      "id": "280590be-bd70-454d-8de8-8bab6abad58a",
      "name": "Delete a chat message4",
      "webhookId": "9731dcee-dd4c-417f-808c-3ec255dde5d0",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "message_id",
            "value": "={{ $json.result.reply_to_message.message_id }}",
            "name_workflow": "Wmoqh0NGKOmileAN/b7cb2f",
            "options": "={{ $json.result.reply_to_message.reply_markup.inline_keyboard[0][0].callback_data }}",
            "description": "={{ $json.result.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name_workflow",
              "displayName": "name_workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1920,
        256
      ],
      "id": "b7cb2f81-a815-498f-9935-ce133c99825e",
      "name": "Insert row3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "description",
              "keyValue": "={{ $('Switch').item.json.anArray[0].message.reply_to_message.chat.id }}"
            },
            {
              "keyName": "key",
              "keyValue": "message_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1952,
        624
      ],
      "id": "ac05c659-36c1-4fe0-85ed-432099592da7",
      "name": "Get row(s)3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)3').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2592,
        624
      ],
      "id": "57ee74a0-bdc6-41cf-9c5b-08a7ea182945",
      "name": "Delete row(s)",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Etz1zzjjSo70AMmQ",
          "mode": "list",
          "cachedResultName": "sea fright",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/Etz1zzjjSo70AMmQ"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Vessel",
              "keyValue": "={{ $json.value }}"
            },
            {
              "keyName": "On_board",
              "keyValue": "yes"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vessel": "={{ $('Switch').item.json.anArray[0].message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deals",
              "displayName": "Deals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Imp_exp",
              "displayName": "Imp_exp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shipping_line",
              "displayName": "Shipping_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booking_number",
              "displayName": "Booking_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POL",
              "displayName": "POL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POD",
              "displayName": "POD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Container_type",
              "displayName": "Container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vessel",
              "displayName": "Vessel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ETD",
              "displayName": "ETD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ETA",
              "displayName": "ETA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "On_board",
              "displayName": "On_board",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HBL",
              "displayName": "HBL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit_Share",
              "displayName": "Profit_Share",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telex_release",
              "displayName": "Telex_release",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DTHC",
              "displayName": "DTHC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ATA",
              "displayName": "ATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "vessel_position",
              "displayName": "vessel_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cbfb77a6-4063-44b3-a456-00c64cb8da28",
      "name": "Update Vessel",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1760,
        1248
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc",
          "mode": "list",
          "cachedResultName": "Current shipments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vessel": "={{ $('Switch').first().json.anArray[0].message.text }}",
            "Deals": "={{ $json.Deals }}"
          },
          "matchingColumns": [
            "Deals"
          ],
          "schema": [
            {
              "id": "Deals",
              "displayName": "Deals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Imp_exp",
              "displayName": "Imp_exp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Shipping_line",
              "displayName": "Shipping_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Booking_number",
              "displayName": "Booking_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POL",
              "displayName": "POL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POD",
              "displayName": "POD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Container_type",
              "displayName": "Container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Vessel",
              "displayName": "Vessel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "voyage",
              "displayName": "voyage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ETD",
              "displayName": "ETD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ETA",
              "displayName": "ETA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On_board",
              "displayName": "On_board",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HBL",
              "displayName": "HBL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Profit_Share",
              "displayName": "Profit_Share",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telex_release",
              "displayName": "Telex_release",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DTHC",
              "displayName": "DTHC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ATA",
              "displayName": "ATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vessel_position",
              "displayName": "vessel_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updateAt",
              "displayName": "updateAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        1424
      ],
      "id": "4ad1a602-109f-4df8-a355-b0cba0393a35",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fK8ysVbwd2AzFdPe",
          "name": "Google Sheets account ILA"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Enter the vessel name",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true,
          "selective": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Switch').item.json.anArray[0].callback_query.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        1008
      ],
      "id": "9550d707-4b7e-4628-a3dc-c3e7a8fd42e3",
      "name": "Send a text message",
      "webhookId": "96b18f2a-0667-40c5-bd5f-f24bb27dc132",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first().json?.anArray?.[0] ?? {};\nconst cb = first.callback_query ?? {};\nconst data = String(cb.data ?? '');\n\nconst parts = data.split('|').map(s => s.trim()).filter(Boolean);\n\nconst type = parts[0] ?? '';\nconst status = parts.length >= 3 ? (parts[parts.length - 1] ?? '') : '';\nconst vessel = parts.length >= 2 ? parts.slice(1, parts.length - 1).join('|').trim() : '';\n\nconst chatId = cb.message?.chat?.id ?? null;\nconst messageId = cb.message?.message_id ?? null;\n\nreturn [{\n  json: {\n    type,          // \"coords\"\n    vessel,        // \"SEASPAN YANGTZE\" (или с | внутри — сохранится)\n    status,        // \"new_coords\"\n    chatId,\n    callbackData: messageId ? `${data}|${messageId}` : data,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1008
      ],
      "id": "403467d0-7f08-4eb2-aee9-ba306e0c0080",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{ $('Code in JavaScript2').first().json.vessel }}",
            "options": "={{ $json.deals_pipe }}",
            "description": "={{ $('Code in JavaScript2').first().json.chatId }}",
            "name_workflow": "={{ $workflow.id }}",
            "key": "new_vessel "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name_workflow",
              "displayName": "name_workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2368,
        1008
      ],
      "id": "cfdd5ca9-7dc1-4b62-aba6-107dcce697b0",
      "name": "Insert row4"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "name_workflow",
              "keyValue": "={{ $workflow.id }}"
            },
            {
              "keyName": "key",
              "keyValue": "new_vessel "
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1520,
        1248
      ],
      "id": "6637cea6-4038-4768-8fce-57e0ad35f240",
      "name": "Get row(s)5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "new_vessel "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1984,
        1248
      ],
      "id": "09cc5e76-96ee-49ee-844d-f0057e28bdce",
      "name": "Delete row(s)1"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Switch').item.json.anArray[0].message.chat.id }}",
        "messageId": "={{ $('Switch').item.json.anArray[0].message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        1248
      ],
      "id": "3b9aa6d1-7df4-4a7c-8b7e-8f4541e21c2e",
      "name": "Delete a chat message5",
      "webhookId": "0aad605a-4151-40e4-84ca-604278506416",
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Switch').item.json.anArray[0].message.chat.id }}",
        "messageId": "={{ $('Switch').item.json.anArray[0].message.reply_to_message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        1248
      ],
      "id": "285e336c-b264-4181-9083-7afbbb59ca91",
      "name": "Delete a chat message6",
      "webhookId": "193a172a-8195-4755-9b78-1cb56e95071d",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dSLl4ZLfj7JILfK6",
          "name": "Iris Tracking bot  ILA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Etz1zzjjSo70AMmQ",
          "mode": "list",
          "cachedResultName": "sea fright",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/Etz1zzjjSo70AMmQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Vessel",
              "keyValue": "={{ $('Code in JavaScript2').item.json.vessel }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1936,
        1008
      ],
      "id": "1e838911-7db7-4825-b826-42ebf32036ae",
      "name": "Get row(s)4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const deals = $input.all()\n  .map(i => i.json?.Deals)\n  .filter(v => v !== null && v !== undefined && String(v).trim() !== '')\n  .map(v => String(v).trim());\n\n// optional: unique\nconst uniq = Array.from(new Set(deals));\n\nreturn [{\n  json: {\n    deals_pipe: uniq.join('|'), // \"11304|11307\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        1008
      ],
      "id": "0ce1fefb-7b2f-46f9-894b-1e07334b4794",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const s =\n  String( $json.options ?? '').trim();\n\nif (!s) {\n  return [];\n}\n\nreturn s\n  .split('|')\n  .map(x => x.trim())\n  .filter(Boolean)\n  .map(x => ({\n    json: {\n      Deals: Number.isFinite(Number(x)) ? Number(x) : x, // если не число — оставит строкой\n    },\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1424
      ],
      "id": "f3f99b2a-a94a-4489-9623-1109ca9b441c",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "const count = $input.all().length;\n\nreturn [{\n  json: {\n    count,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -112
      ],
      "id": "a2b05c27-1a65-4f19-813a-2966400d5ccc",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "count update coords & name vessel"
            },
            {
              "keyName": "name_workflow",
              "keyValue": "={{ $workflow.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "count update coords & name vessel",
            "value": "={{ $json.count }}",
            "name_workflow": "={{ $workflow.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name_workflow",
              "displayName": "name_workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2128,
        -112
      ],
      "id": "23ab0af4-02a7-4e6f-b64e-c4573c76d223",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "81"
            },
            {
              "keyName": "name_workflow",
              "keyValue": "={{ $workflow.id }}"
            },
            {
              "keyName": "key",
              "keyValue": "count update coords & name vessel"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2912,
        896
      ],
      "id": "8077e858-42d6-45b4-b964-464cc6590df9",
      "name": "Get row(s)6"
    },
    {
      "parameters": {
        "jsCode": "// вход: $json.value = \"27\"\nconst n = Number(String($json.value ?? '').trim());\n\nif (!Number.isFinite(n)) {\n  return [{ json: { ...$json, status: 'error', value: $json.value } }];\n}\n\nconst next = Math.max(0, n - 1);\nconst status = next === 0 ? 'done' : 'in_progress';\n\nreturn [{\n  json: {\n    ...$json,\n    value: String(next), // обновлённое значение в value\n    status,              // done | in_progress\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        896
      ],
      "id": "7ef0dd8f-22c4-44ba-b58c-b5e41f21ba5c",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ed3be48-ff19-4487-addc-181e0e3fd557",
              "leftValue": "={{ $('Code in JavaScript9').item.json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3536,
        896
      ],
      "id": "73f53fed-6f59-4187-8267-2d393ddd07d7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ly1rKBXod90eQjlb",
          "mode": "list",
          "cachedResultName": "global variables",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/ly1rKBXod90eQjlb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "count update coords & name vessel"
            },
            {
              "keyName": "name_workflow",
              "keyValue": "={{ $json.name_workflow }}"
            },
            {
              "keyValue": "81"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{ $json.value }}",
            "options": "=status: {{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name_workflow",
              "displayName": "name_workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3312,
        896
      ],
      "id": "ba651565-4ee4-49c0-8514-86a6c8101471",
      "name": "Update row(s)2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WdBFt8lPIBefS4eK",
          "mode": "list",
          "cachedResultUrl": "/workflow/WdBFt8lPIBefS4eK",
          "cachedResultName": "My workflow 6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "anArray": "={{ $json.data }}"
          },
          "matchingColumns": [
            "anArray"
          ],
          "schema": [
            {
              "id": "anArray",
              "displayName": "anArray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4208,
        880
      ],
      "id": "04f67737-0a02-410e-a2d2-f05d543c3ec1",
      "name": "Call 'My workflow 6'"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3984,
        880
      ],
      "id": "d19f75da-6fe7-46f2-8d3a-d993cff761e9",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "0YuqQFice7tFfZkq",
          "mode": "list",
          "cachedResultName": "tasks_log",
          "cachedResultUrl": "/projects/aYwTG2YSCDJ4D7Wf/datatables/0YuqQFice7tFfZkq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Done",
            "assignee_name": "={{ $('Switch').item.json.anArray[0].message.chat.username }}",
            "task": "Update name & position vessel",
            "owner_name": "System",
            "uuid": "={{ $execution.id }}",
            "assignee_tg_id": "={{ $('Switch').item.json.anArray[0].message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "assignee_name",
              "displayName": "assignee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "owner_name",
              "displayName": "owner_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "owner_tg_id",
              "displayName": "owner_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "assignee_tg_id",
              "displayName": "assignee_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3776,
        880
      ],
      "id": "b08fd7ec-ad79-4d75-b19d-18e43da094b6",
      "name": "Insert row5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc",
          "mode": "list",
          "cachedResultName": "Current shipments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Vessel",
              "lookupValue": "={{ ((($('Switch').item.json.anArray[0].message.reply_to_message.text || '').match(/Enter the vessel's location\\s+([^\\n\\r]+)/i) || [,''])[1]).trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        800
      ],
      "id": "06a801d9-f4a3-4e6b-a939-400306507cb9",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fK8ysVbwd2AzFdPe",
          "name": "Google Sheets account ILA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc",
          "mode": "list",
          "cachedResultName": "Current shipments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vessel_position": "={{ 'https://www.google.com/maps?q=' + $('Switch').item.json.anArray[0].message.text.replace(/\\s+/g,'') + '&z=9' }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Deals",
              "displayName": "Deals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Imp_exp",
              "displayName": "Imp_exp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Shipping_line",
              "displayName": "Shipping_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Booking_number",
              "displayName": "Booking_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POL",
              "displayName": "POL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POD",
              "displayName": "POD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Container_type",
              "displayName": "Container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Vessel",
              "displayName": "Vessel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "voyage",
              "displayName": "voyage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ETD",
              "displayName": "ETD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ETA",
              "displayName": "ETA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On_board",
              "displayName": "On_board",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HBL",
              "displayName": "HBL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Profit_Share",
              "displayName": "Profit_Share",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telex_release",
              "displayName": "Telex_release",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DTHC",
              "displayName": "DTHC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ATA",
              "displayName": "ATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vessel_position",
              "displayName": "vessel_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updateAt",
              "displayName": "updateAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        800
      ],
      "id": "5414f368-a387-4ff8-bfa8-77e3da9aed60",
      "name": "Update row in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fK8ysVbwd2AzFdPe",
          "name": "Google Sheets account ILA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc",
          "mode": "list",
          "cachedResultName": "Current shipments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-oF0N69XeP7sn_Sm_ZpLFIC3KqgE9ssbRCsD2vzrnc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "On_board",
              "lookupValue": "=yes"
            },
            {
              "lookupColumn": "Deals",
              "lookupValue": "={{ $json.Deals }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        1424
      ],
      "id": "b2aa5626-90e8-4c4f-9691-8cf09671bc5e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fK8ysVbwd2AzFdPe",
          "name": "Google Sheets account ILA"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "anArray": [
            {
              "update_id": 430173912,
              "message": {
                "message_id": 5376,
                "from": {
                  "id": 8041897638,
                  "is_bot": false,
                  "first_name": "Veronika",
                  "username": "veronika_ilc",
                  "language_code": "uk"
                },
                "chat": {
                  "id": 8041897638,
                  "first_name": "Veronika",
                  "username": "veronika_ilc",
                  "type": "private"
                },
                "date": 1768288870,
                "reply_to_message": {
                  "message_id": 5375,
                  "from": {
                    "id": 8561154774,
                    "is_bot": true,
                    "first_name": "Iris Tracking Bot",
                    "username": "Iris_Tracking_Bot"
                  },
                  "chat": {
                    "id": 8041897638,
                    "first_name": "Veronika",
                    "username": "veronika_ilc",
                    "type": "private"
                  },
                  "date": 1768288864,
                  "text": "Enter the vessel name"
                },
                "text": "CMA CGM ALCAZAR"
              },
              "route": "coords"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row2": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Delete a chat message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Insert row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Delete a chat message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message1": {
      "main": [
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message2": {
      "main": [
        [
          {
            "node": "Delete a chat message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Delete a chat message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message4": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Vessel": {
      "main": [
        [
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Get row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)5": {
      "main": [
        [
          {
            "node": "Update Vessel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)1": {
      "main": [
        [
          {
            "node": "Delete a chat message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message6": {
      "main": [
        [
          {
            "node": "Delete a chat message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Insert row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Call 'My workflow 6'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row5": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)6": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message5": {
      "main": [
        [
          {
            "node": "Get row(s)6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Kyiv",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "01767eb6-5ad6-415e-b0a2-95c800c626a9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "Wmoqh0NGKOmileAN"
}