files/workflows/ZSrhJX9nhXpPvRac-search_for_a_contract_by_code.json
{
  "name": "search for a contract by code",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA",
          "mode": "list",
          "cachedResultName": "clients_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_code",
              "lookupValue": "={{ $json.company_code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "20de48f9-54be-453d-9256-d0dfa195dfee",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4YuM90VIJt7fxZFx",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function parseDateFlexible(s) {\n  if (!s && s !== 0) return null;\n  s = String(s).trim();\n  if (!s) return null;\n\n  // Попробуем распознать форматы типа 07.05.2019 или 7/5/2019 или 07-05-2019\n  const dmy = s.match(/^(\\d{1,2})[.\\-\\/](\\d{1,2})[.\\-\\/](\\d{2,4})$/);\n  if (dmy) {\n    let day = parseInt(dmy[1], 10);\n    let month = parseInt(dmy[2], 10);\n    let year = parseInt(dmy[3], 10);\n    if (year < 100) { // two-digit year heuristic\n      year += year >= 70 ? 1900 : 2000;\n    }\n    // Validate\n    const dateObj = new Date(year, month - 1, day);\n    if (!isNaN(dateObj)) return dateObj;\n  }\n\n  // Попробуем ISO или встроенный парсер\n  const iso = Date.parse(s);\n  if (!isNaN(iso)) return new Date(iso);\n\n  return null;\n}\n\n// Возвращает строку с ведущими нулями согласно вашим правилам (только нули)\nfunction zeroPrefixForId(id) {\n  if (id === undefined || id === null || id === '') return '';\n  const str = String(id).trim();\n  const n = Number(str);\n  if (Number.isNaN(n)) return '';\n  if (n >= 0 && n <= 9) return '0000';\n  if (n <= 99) return '000';\n  if (n <= 999) return '00';\n  if (n <= 9999) return '0';\n  return '';\n}\n\n// Паддинг id: возвращает строку с нулями + id, либо просто id если нулей не требуется\nfunction padIdString(id) {\n  const z = zeroPrefixForId(id);\n  if (z === '') return String(id === undefined || id === null ? '' : String(id).trim());\n  return z + String(id).trim();\n}\n\n// Сравнение двух записей: возвращает true если a is newer than b\nfunction isANewerThanB(a, b) {\n  const da = parseDateFlexible(a.agreement_date);\n  const db = parseDateFlexible(b.agreement_date);\n\n  if (da && db) {\n    if (da.getTime() !== db.getTime()) return da.getTime() > db.getTime();\n    // даты равны -> tie-breaker: сравниваем padded-строки\n    const padA = padIdString(a.id);\n    const padB = padIdString(b.id);\n    if (padA === padB) return false; // при равенстве не заменяем\n    return padA > padB;\n  }\n\n  // если только одна из дат есть — предпочитаем существующую дату (новее)\n  if (da && !db) return true;\n  if (!da && db) return false;\n\n  // обе даты отсутствуют — tie-breaker по padded id\n  const padA2 = padIdString(a.id);\n  const padB2 = padIdString(b.id);\n  if (padA2 === padB2) return false;\n  return padA2 > padB2;\n}\n\n// Основная логика\nconst mapByCode = new Map();\n\n// Поддерживаем вход как массив items (каждый item.json — объект)\nfor (const item of items) {\n  const obj = item.json ?? {};\n  const code = String(obj.customer_code ?? '').trim();\n  if (!code) {\n    // если нет customer_code — пропускаем (можно менять политику)\n    continue;\n  }\n\n  if (!mapByCode.has(code)) {\n    mapByCode.set(code, obj);\n  } else {\n    const existing = mapByCode.get(code);\n    if (isANewerThanB(obj, existing)) {\n      mapByCode.set(code, obj);\n    }\n  }\n}\nconst chat_id = $('Edit Fields').first().json.chat_id;\n// Собираем результат в формате n8n items, добавляя ключ `zero` — строка нулей по правилам\nconst output = [];\nfor (const kept of mapByCode.values()) {\n  const zero = zeroPrefixForId(kept.id);\n  output.push({ json: { ...kept, zero, chat_id} });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -16
      ],
      "id": "4172595f-34a7-4ace-88cc-49b33320d428",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.zero }}{{ $json.id }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        -16
      ],
      "id": "2502c3b9-2194-4c52-83b7-131ed24bee79",
      "name": "Search files and folders",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gz0l5dMxyUhekxFA",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        -16
      ],
      "id": "7f4af8ca-5133-429e-8b8d-ed1b48f6ce12",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gz0l5dMxyUhekxFA",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').all().map(item => item.json.message.chat.id) }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        -16
      ],
      "id": "a921f9d2-8314-4e18-8f47-68f2cfc045a6",
      "name": "Send a document",
      "webhookId": "188e76e6-0c34-4dce-a5ed-4179b9675732",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c6f7336-f183-4ccc-a241-a2b5b198227e",
              "leftValue": "={{ $json.customer_code }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "228b37f1-05be-4ad9-a531-d65ee91eed46",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        0
      ],
      "id": "a513fddb-ed4a-40cf-bb9e-0dc6599265cb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA",
          "mode": "list",
          "cachedResultName": "clients_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_name",
              "lookupValue": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        496
      ],
      "id": "4d7eefb8-eb8b-48e5-b226-cd607b52f421",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZgRWFe7RWXYmmBlY",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c6f7336-f183-4ccc-a241-a2b5b198227e",
              "leftValue": "={{ $json.customer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        272
      ],
      "id": "e0ce94e5-7693-4699-afe6-77f8a3d60fbe",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67f6675b-7ee1-4672-b4ad-c18e59699efe",
              "name": "chat_id",
              "value": "={{ $json.tg_account }}",
              "type": "string"
            },
            {
              "id": "9b6f53b8-15cf-4814-bd90-7b5ee60e6147",
              "name": "company_code",
              "value": "={{ $json.customer_code }}",
              "type": "string"
            },
            {
              "id": "c11574fe-2ee0-4569-a36d-34bec9686a8a",
              "name": "company_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "c7aeb7f5-52e8-486e-ac7b-b7d5debf9e41",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=not exest: {{ $('Edit Fields').item.json.company_code }} / {{ $('Edit Fields').item.json.company_name }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        288
      ],
      "id": "e92ab7eb-8371-48b2-a79a-9350c7e768d4",
      "name": "Send a text message",
      "webhookId": "28a49cd3-ce5e-4e98-ba61-d2f961b81866",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA",
          "mode": "list",
          "cachedResultName": "clients_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        256
      ],
      "id": "ff7f08e5-c6e0-4c5b-a456-ad61832d7019",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZgRWFe7RWXYmmBlY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5eb032cb-0f22-44f6-afec-2663e24f730e",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        496
      ],
      "id": "12563044-29ca-47f5-9e72-a8e09dc8e130",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const companies = [];\n\nfor (const item of $input.all()) {\nconst name = item.json?.customer_name;\nif (typeof name === 'string') {\nconst trimmed = name.trim();\nif (trimmed !== '') companies.push(trimmed);\n}\n}\n\nconst uniqueCompanies = [...new Set(companies)];\n\nreturn [{\njson: {\ncompanies: uniqueCompanies,\ncompany: $('Edit Fields').first().json.company_name\n}\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        496
      ],
      "id": "6b026625-a052-47ce-a5a0-d4cfde1f29e5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — модуль сопоставления названий компаний.\nВход:\nclient_name == {{ $json.company }}\ndirectory == {{ $json.companies }}\n\nЗадача:\nНайти в списке directory одно название, наиболее похожее на client_name.\nПравила:\n\nИгнорировать организационно‑правовые формы: ТОВ, ТЗОВ, АТЗТ, ПрАТ, ПП, ФОП и их варианты (укр/рус/англ), кавычки, скобки, регистр, лишние пробелы и пунктуацию вокруг имени.\nДопускать опечатки, флексию, перестановку слов, сокращения и небольшие различия.\nСравнивать нормализованные строки, но возвращать точное оригинальное название из directory.\nВывод:\nВывести ровно одну строку: либо найденное точное название (из directory), либо пустую строку, если подходящего совпадения нет.\nНикакого другого текста, JSON, пояснений или форматирования — только одна строка с названием или пустая строка.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        912,
        496
      ],
      "id": "4b2d74d2-d779-4976-9611-f36a1287c3c3",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        688
      ],
      "id": "70fa5be3-5699-4e9d-8f93-33fbc72c303a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "6o3E6CtmYsqbpVFq",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "customer_code": "35523434",
          "customer_name": "ТОВ \"АГРОФІРМА \"ПОЛЕ\"",
          "manager": "Афанасьева Татьяна",
          "tg_account": 6233243773
        }
      },
      {
        "json": {
          "customer_code": "35901580",
          "customer_name": "ТОВ \"САН ТЕХ РАЙ\"",
          "manager": "Афанасьева Татьяна",
          "tg_account": 6233243773
        }
      },
      {
        "json": {
          "customer_code": "35523434",
          "customer_name": "ТОВ\" АГРОФІРМА\"ПОЛЕ\"",
          "manager": "Афанасьева Татьяна",
          "tg_account": 6233243773
        }
      },
      {
        "json": {
          "customer_code": "34585898",
          "customer_name": "ТОВ \"АМЕКС-УКРАЇНА\"",
          "manager": "Афанасьева Татьяна",
          "tg_account": 6233243773
        }
      },
      {
        "json": {
          "customer_code": "36397241",
          "customer_name": "ТОВ \"СТАРОКОНСТЯТИНІВЦУКОР\"",
          "manager": "Ярмолович Дарья",
          "tg_account": 564727223
        }
      },
      {
        "json": {
          "customer_code": "33061594",
          "customer_name": "ТОВ \"АЛ-КО КОБЕР\"",
          "manager": "Ярмолович Дарья",
          "tg_account": 564727223
        }
      },
      {
        "json": {
          "customer_code": "44234776",
          "customer_name": "ТОВ \"СУДНОБУДІВНО-СУДОРЕМОНТНИЙ ЗАВОД \"НІБУЛОН\"",
          "manager": "Ярмолович Дарья",
          "tg_account": 564727223
        }
      }
    ]
  },
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ccd62e4-907d-451e-a420-c4c3de9c817b",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ZSrhJX9nhXpPvRac"
}