files/workflows/ZSrhJX9nhXpPvRac-search_for_a_contract_by_code.json
{
  "name": "search for a contract by code",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "aaed2ce8-4911-484d-bd7d-b0d8084e98bf",
      "name": "Telegram Trigger",
      "webhookId": "1059276b-989a-4689-92b9-e682cdac7552",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA",
          "mode": "list",
          "cachedResultName": "clients_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eux6bnX9o4EVSctgAgdZha0dvjP3roPvZuAKBBDHhlA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_code",
              "lookupValue": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "20de48f9-54be-453d-9256-d0dfa195dfee",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZgRWFe7RWXYmmBlY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseDateFlexible(s) {\n  if (!s && s !== 0) return null;\n  s = String(s).trim();\n  if (!s) return null;\n\n  // Попробуем распознать форматы типа 07.05.2019 или 7/5/2019 или 07-05-2019\n  const dmy = s.match(/^(\\d{1,2})[.\\-\\/](\\d{1,2})[.\\-\\/](\\d{2,4})$/);\n  if (dmy) {\n    let day = parseInt(dmy[1], 10);\n    let month = parseInt(dmy[2], 10);\n    let year = parseInt(dmy[3], 10);\n    if (year < 100) { // two-digit year heuristic\n      year += year >= 70 ? 1900 : 2000;\n    }\n    // Validate\n    const dateObj = new Date(year, month - 1, day);\n    if (!isNaN(dateObj)) return dateObj;\n  }\n\n  // Попробуем ISO или встроенный парсер\n  const iso = Date.parse(s);\n  if (!isNaN(iso)) return new Date(iso);\n\n  return null;\n}\n\n// Возвращает строку с ведущими нулями согласно вашим правилам (только нули)\nfunction zeroPrefixForId(id) {\n  if (id === undefined || id === null || id === '') return '';\n  const str = String(id).trim();\n  const n = Number(str);\n  if (Number.isNaN(n)) return '';\n  if (n >= 0 && n <= 9) return '0000';\n  if (n <= 99) return '000';\n  if (n <= 999) return '00';\n  if (n <= 9999) return '0';\n  return '';\n}\n\n// Паддинг id: возвращает строку с нулями + id, либо просто id если нулей не требуется\nfunction padIdString(id) {\n  const z = zeroPrefixForId(id);\n  if (z === '') return String(id === undefined || id === null ? '' : String(id).trim());\n  return z + String(id).trim();\n}\n\n// Сравнение двух записей: возвращает true если a is newer than b\nfunction isANewerThanB(a, b) {\n  const da = parseDateFlexible(a.agreement_date);\n  const db = parseDateFlexible(b.agreement_date);\n\n  if (da && db) {\n    if (da.getTime() !== db.getTime()) return da.getTime() > db.getTime();\n    // даты равны -> tie-breaker: сравниваем padded-строки\n    const padA = padIdString(a.id);\n    const padB = padIdString(b.id);\n    if (padA === padB) return false; // при равенстве не заменяем\n    return padA > padB;\n  }\n\n  // если только одна из дат есть — предпочитаем существующую дату (новее)\n  if (da && !db) return true;\n  if (!da && db) return false;\n\n  // обе даты отсутствуют — tie-breaker по padded id\n  const padA2 = padIdString(a.id);\n  const padB2 = padIdString(b.id);\n  if (padA2 === padB2) return false;\n  return padA2 > padB2;\n}\n\n// Основная логика\nconst mapByCode = new Map();\n\n// Поддерживаем вход как массив items (каждый item.json — объект)\nfor (const item of items) {\n  const obj = item.json ?? {};\n  const code = String(obj.customer_code ?? '').trim();\n  if (!code) {\n    // если нет customer_code — пропускаем (можно менять политику)\n    continue;\n  }\n\n  if (!mapByCode.has(code)) {\n    mapByCode.set(code, obj);\n  } else {\n    const existing = mapByCode.get(code);\n    if (isANewerThanB(obj, existing)) {\n      mapByCode.set(code, obj);\n    }\n  }\n}\n\n// Собираем результат в формате n8n items, добавляя ключ `zero` — строка нулей по правилам\nconst output = [];\nfor (const kept of mapByCode.values()) {\n  const zero = zeroPrefixForId(kept.id);\n  output.push({ json: { ...kept, zero } });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "4172595f-34a7-4ace-88cc-49b33320d428",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.zero }}{{ $json.id }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1oyWESm0sGtkj_xGruQVcRfKw2R9FAHi5",
            "mode": "list",
            "cachedResultName": "Agreements",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1oyWESm0sGtkj_xGruQVcRfKw2R9FAHi5"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "2502c3b9-2194-4c52-83b7-131ed24bee79",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "28Nvzmlq86EJNtJD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        0
      ],
      "id": "7f4af8ca-5133-429e-8b8d-ed1b48f6ce12",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "28Nvzmlq86EJNtJD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').all().map(item => item.json.message.chat.id) }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        0
      ],
      "id": "a921f9d2-8314-4e18-8f47-68f2cfc045a6",
      "name": "Send a document",
      "webhookId": "188e76e6-0c34-4dce-a5ed-4179b9675732",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13ffcfd2-6311-4b74-b5b0-53987b65d58f",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ZSrhJX9nhXpPvRac"
}