files/workflows/zt2ySQG8D79WfZyr-My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17lCa1Juax3gwiA_3S5oJ4wQGCUUC6EDUhSfxiBGZRdM",
          "mode": "list",
          "cachedResultName": "HEE_employess",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17lCa1Juax3gwiA_3S5oJ4wQGCUUC6EDUhSfxiBGZRdM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17lCa1Juax3gwiA_3S5oJ4wQGCUUC6EDUhSfxiBGZRdM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sales_department",
              "lookupValue": "=true"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        0
      ],
      "id": "4faff489-ed5e-4693-9809-dbf0035b2bf0",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4YuM90VIJt7fxZFx",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "f4bd24b5-091b-44ed-a23a-3d989fc26883",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "27673e57-74de-4a6c-b2bd-5c0c700da621",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        816,
        128
      ],
      "id": "33fc2755-0748-430e-bc61-7e85f9378862"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N7PFcLsC5_wZMFz7mW-62KH4ggXLNYYyGrKjScyRXhg",
          "mode": "list",
          "cachedResultName": "Копия clients_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N7PFcLsC5_wZMFz7mW-62KH4ggXLNYYyGrKjScyRXhg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N7PFcLsC5_wZMFz7mW-62KH4ggXLNYYyGrKjScyRXhg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "manager",
              "lookupValue": "={{ $json['1c_name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        128
      ],
      "id": "1c135dbc-3cea-428d-9443-12333bc01696",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4YuM90VIJt7fxZFx",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const itemsOut = [];\nconst seen = new Set();\n\n// Try to read tg_account from a sheet node — adjust name if needed\nlet sheetTg;\ntry {\nsheetTg = $('Get row(s) in sheet').first().json.tg_account;\n} catch (e) {\nsheetTg = undefined;\n}\n\nfor (const item of $input.all()) {\nif (!item || !item.json || Object.keys(item.json).length === 0) continue;\n\nconst code = item.json?.customer_code;\nif (code === undefined || code === null || code === '') continue;\n\nconst codeKey = String(code);\nif (seen.has(codeKey)) continue;\nseen.add(codeKey);\n\nconst manager = item.json?.manager ?? '';\nconst company = item.json?.customer_name ?? '';\nconst tg = (item.json?.tg_account !== undefined && item.json?.tg_account !== null && item.json?.tg_account !== '')\n? item.json.tg_account\n: (sheetTg !== undefined ? sheetTg : '');\n\nitemsOut.push({\njson: {\ncustomer_code: codeKey,\ncustomer_name: company,\nmanager,\ntg_account: tg\n}\n});\n}\n\nreturn itemsOut;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -96
      ],
      "id": "4aa00ef6-918b-4828-a0c8-a5bfa5d14cc8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bab84995-66b8-4ffc-84e3-cbdb51f2f257",
              "name": "tg_account",
              "value": "={{ $json.tg_account }}",
              "type": "number"
            },
            {
              "id": "5943c6fb-8a15-45f6-8630-ca931c371e47",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "8ae72f0a-7dc7-49f8-aaf0-c9392e072963",
              "name": "user_name",
              "value": "={{ $json.user_name }}",
              "type": "string"
            },
            {
              "id": "52a89d85-1b62-4765-b0c3-5e8a6ad18424",
              "name": "1c_name",
              "value": "={{ $json[\"1c_name\"] }}",
              "type": "string"
            },
            {
              "id": "7c531a28-c03f-4bd9-8fcb-6743478748c2",
              "name": "sales_department",
              "value": "={{ $json.sales_department }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        0
      ],
      "id": "fa48c3fc-af76-4726-a92f-f2a1e1cef53c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca41a170-3f69-4f39-b924-a136da25cb5d",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "4b84cb95-556e-43b7-9928-e10d77545ec8",
              "name": "customer_code",
              "value": "={{ $json.customer_code }}",
              "type": "number"
            },
            {
              "id": "08b08e00-832a-4e6c-a7de-dfd466468808",
              "name": "manager",
              "value": "={{ $json.manager }}",
              "type": "string"
            },
            {
              "id": "9c1341c0-5183-4d74-8a90-f6019d8f241f",
              "name": "tg_account",
              "value": "={{ $('Edit Fields').item.json.tg_account }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        128
      ],
      "id": "48eda443-08e4-4092-accf-ad218987480d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sJd5tH0i83qfGgdj",
          "mode": "list",
          "cachedResultUrl": "/workflow/sJd5tH0i83qfGgdj",
          "cachedResultName": "CSV Lookup by ua_customer_code (v2)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        -96
      ],
      "id": "c19df571-e35e-4872-b7ab-180a7fbaebc4",
      "name": "Call 'CSV Lookup by ua_customer_code (v2)'"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Call 'CSV Lookup by ua_customer_code (v2)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e433d1d2-7336-4184-85bb-32c7e9847873",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "zt2ySQG8D79WfZyr"
}