files/workflows/_duplicates_by_id_backup_2025-12-19/JW2ABtyd1hK88XIQ-Word_OCR_Branch.json
{
  "name": "Word OCR Branch",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        160
      ],
      "id": "a6d84ad1-b29f-4602-b939-af348434a4cf",
      "name": "Telegram Trigger",
      "webhookId": "a16c0b71-189e-4726-986d-c9d2526f95ea",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea2eccfc-841d-4f65-95cd-b55a21d22036",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        160
      ],
      "id": "3bc9b042-70e0-48f2-8be9-4d7e6843a033",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        368
      ],
      "id": "a733d2b2-b0b1-41c6-b913-a1940672a3bc",
      "name": "Get a file",
      "webhookId": "ec5bd239-3364-4b30-a288-ebea3aaadb14",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ocr-api:3001/ocr-binary?async=1",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        368
      ],
      "name": "HTTP POST OCR (async)",
      "id": "40223f3e-f93f-4913-bf73-6c406835791e"
    },
    {
      "parameters": {
        "jsCode": "const delayMs = 2000;\nawait new Promise(res => setTimeout(res, delayMs));\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        368
      ],
      "name": "Delay 2s (Code)",
      "id": "044d320c-b6a6-4ef8-bc06-e8d5e516a784"
    },
    {
      "parameters": {
        "url": "={{ 'http://ocr-api:3001/result/' + $json.jobId }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        368
      ],
      "name": "HTTP GET OCR Result",
      "id": "2ef6fed9-88f4-4fa1-aedb-1ca6bd1008b8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              },
              "id": "cond-status-processing"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        368
      ],
      "name": "IF Processing?",
      "id": "a3d28d3b-ddd2-4186-8dcc-3b7a2da2c91a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pages }}",
        "options": {
          "systemMessage": "Ты — модель сегментации скана на документы и извлечения полей.\n\nВход: pages — упорядоченный массив страниц:\n{\n\"index\": <целое>,\n\"text\": \"<текст страницы>\"\n}\n\nВЫХОД: СТРОГО один JSON‑массив объектов. Каждый объект имеет РОВНО ключи:\n{\n\"result\": \"contract|act|invoice|BL|unknown\",\n\"number\": \"string|null\",\n\"date\": \"YYYY-MM-DD|null\",\n\"startIndex\": number,\n\"endIndex\": number,\n\"pageCount\": number\n}\n\nЖЁСТКИЕ ГАРАНТИИ И ПРАВИЛА\n\nПустой массив запрещён. Диапазоны упорядочены по startIndex, не пересекаются.\nПокрытие index:\n— По умолчанию: каждый index покрыт ровно один раз непрерывными диапазонами.\n— Единственное допустимое исключение: страницы‑дубликаты (полные копии уже встречавшегося документа) МОЖНО не покрывать и не выводить (см. “Дедупликация”).\nБАЗОВОЕ ПОВЕДЕНИЕ: КАЖДАЯ СТРАНИЦА — ОТДЕЛЬНЫЙ ДОКУМЕНТ:\nstartIndex = index, endIndex = index, pageCount = 1.\n\nСлияние страниц в один документ (строго контролируемое)\n\nОбщие условия (для всех типов, нужны одновременно “продолжение” И отсутствие стоп‑событий):\n\nДопускай слияние ТОЛЬКО при наличии ЯВНОГО МАРКЕРА ПРОДОЛЖЕНИЯ или сильного признака:\nМаркер продолжения (в шапке/верхней зоне): \"продовження\", \"продолжение\", \"continuation\", \"Page X of Y\", \"Page X/Y\", \"стр. X\", \"лист X\", \"лист X из Y\", \"continued\", \"cont.\", \"continued on next page\".\nСильные признаки (любой):\na) Полное совпадение номера документа между страницами (одинаковый номер рядом с явной меткой №/No).\nb) Повтор той же шапки/реквизитов (shipper/consignee/vessel/ports для BL; реквизиты договора/сторон для contract) БЕЗ нового заголовка/нового номера.\nИ одновременно НЕТ ни одного стоп‑события:\n• новый типовой заголовок (\"Акт\", \"Рахунок/Invoice/СЧЕТ\", \"Договор/Contract/Договір\", \"Bill of Lading\"),\n• новый номер документа в шапке,\n• новая шапка/новые стороны (другие компании/коды/ІПН/ЕДРПОУ),\n• финальный блок завершения на предыдущей странице (итоги + подписи/штамп/ФИО/“М.П.”/массива реквизитов).\n\nАНТИ‑СКЛЕЙКА ДЛЯ ДУБЛИКАТОВ ОДНОГО ТИПА:\nЕсли на соседних страницах встречаются повторяющиеся заголовки одного типа (напр. \"Акт …\", \"INVOICE …\") с тем же номером/датой и самодостаточными финальными блоками/шапками — это НЕ продолжение, а отдельные самодостаточные документы. Их нельзя объединять. В этом случае выведи только первый экземпляр (см. “Дедупликация”), остальные страницы считаются дубликатами и могут быть не покрыты.\n\nПолитика слияния по типам\n\ncontract (ДОГОВОР/КОНТРАКТ/Договір) — РАСШИРЕННЫЙ МЕРДЖ:\nЕсли первая страница — договор (заголовок содержит “ДОГОВОР/КОНТРАКТ/Договір”):\n• По умолчанию СЧИТАЙ ПРОДОЛЖЕНИЕМ все следующие подряд страницы до “конца” или появления нового документа.\n• Конец = появление блока подписей/печати/ФИО/должностей/массива банковских реквизитов (“IBAN”, “р/с”, ЕДРПОУ/ИНН) ИЛИ новый заголовок другого типа.\n• Признаки продолжения (любой): структурные слова (“РОЗДІЛ/РАЗДЕЛ/Стаття/ПОРЯДОК/ОБОВ’ЯЗКИ/ПРАВА/ВІДПОВІДАЛЬНІСТЬ/ФОРС‑МАЖОР/РЕКВІЗИТИ”) ИЛИ пункт‑ная нумерация в первых 1–2 непустых строках: ^\\s*\\d+(?:.\\d+){1,3}\\b (например “3.2.”, “4.7”, “5.1.3”, “6.10.”). Отсутствие номера/даты на продолжениях НЕ разрывает документ.\n\nact (Акт) — ПО УМОЛЧАНИЮ ОДНОСТРАНИЧНЫЙ:\n• НЕ сливай между страницами, если на текущей есть итоги/подписи/ФИО/штамп.\n• Разрешай слияние ТОЛЬКО при явной многостраничности (“Page X of Y”/“продовження/продолжение”) и при отсутствии итогов/подписей на предыдущей странице.\n• ЕСЛИ на следующей странице снова есть самостоятельный заголовок “Акт …” (даже с тем же номером/датой) — это НОВЫЙ документ, НЕ продолжение. Для одинаковых — применяй дедупликацию: выведи только первый, остальные пропусти.\n\ninvoice (Рахунок/СЧЕТ/INVOICE) — ПО УМОЛЧАНИЮ ОДНОСТРАНИЧНЫЙ:\n• НЕ сливай, если на странице присутствуют финальные блоки: “Всього/Итого/Total”, “У тому числі ПДВ/НДС”, “Всього найменувань”, “Виписав(ла)”.\n• Разрешай слияние ТОЛЬКО при явной многостраничности (“Page X of Y”, “продовження рахунку/continuation”) и совпадающем номере счета; на предыдущей странице не должно быть итогов/подписей.\n• ЕСЛИ на следующей странице снова “INVOICE/Рахунок/СЧЕТ № …” (даже с тем же номером/датой) — это НОВЫЙ документ, НЕ продолжение. Для полных дублей — выведи только первый, остальные пропусти.\n\nBL — по общим условиям (часто многостраничный). Не сливай, если виден новый полноценный B/L заголовок/No. с иной шапкой.\n\nДубликаты (дедупликация, пропускать)\n\nЕсли в скане встречаются ДВА (или больше) самодостаточных документа, которые являются ПОЛНЫМИ ДУБЛИКАТАМИ, ВЫВОДИ ТОЛЬКО ПЕРВЫЙ, остальные ПРОПУСКАЙ (не создавай объект и не покрывай их index).\nКритерии “полного дубликата” (выполняются одновременно):\n• Одинаковый result (тип документа).\n• Совпадает нормализованный number (без пробелов/регистра) и date.\n• Заголовки/шапки сторон (постачальник/покупець для invoice; сторони/виконавець/замовник для act) совпадают по ключевым полям.\n• Финансовые итоги совпадают (для act/invoice: строки “Всього/Итого/Total” и “ПДВ/НДС” по суммам текстуально совпадают).\n• Основной текст практически дословно совпадает (допускаются только различия в пробелах/переносах/регистре).\nЕсли не уверен, что страницы — дословные дубликаты, НЕ применяй дедупликацию (лучше оставить как отдельные документы).\n\nКлассификация (result)\n\ncontract: “ДОГОВОР/КОНТРАКТ/Договір” + преамбула/стороны/разделы/подписи/реквизиты.\nact: “Акт …”, перечень робіт/услуг, суммы/итоги, подписи/штампы.\ninvoice: “Рахунок/СЧЕТ/INVOICE”, таблица, суммы/ПДВ, “Виписав(ла)”.\nBL: “Коносамент/Bill of Lading/B/L” + shipper/consignee/vessel/ports/B/L No.\nunknown: признаков недостаточно (всё равно пытайся извлечь number/date).\n\nИзвлечение number (НЕ обрезать “22/10/2025” до “22”)\n\nОбщий паттерн номера: 5–25 символов [A-Za-z0-9./-]; слеши/точки/дефисы разрешены, НЕ усекать.\ncontract: в строке с заголовком договора после “№/No/No.” возьми следующий токен целиком. Если токен выглядит как дата (например “22/10/2025”) — для договора считать это НОМЕРОМ, не датой.\nact: “Акт № …”; invoice: “Рахунок/СЧЕТ/INVOICE № …” — аналогично.\nBL: “B/L No”, “Bill of Lading No”, “Коносамент № …”; контейнерный формат (4 буквы + 7 цифр) игнорировать без B/L контекста.\nНесколько кандидатов — бери ближайший к явной метке; неоднозначность → null.\n\nИзвлечение date\n\nПоддержка: DD.MM.YYYY, D.M.YYYY, DD/MM/YYYY, YYYY-MM-DD, DD-MMM-YYYY (01 JAN 2025), “31 жовтня 2025”, “7 ноября 2025”, “October 31 2025”.\nНормализуй в YYYY-MM-DD; неоднозначность → null.\nДля contract: дату бери из строки с городом и датой (“м. Одеса «22» жовтня 2025 р.” → 2025‑10‑22), не путай с номером после “№”.\n\npageCount\n\nВСЕГДА: pageCount = endIndex - startIndex + 1. Никогда не считывай из текста (“Page 1 of 2” и т.п.).\n\nПроверка перед выводом\n\n• Массив не пуст.\n• Каждый объект имеет ровно ключи: result, number, date, startIndex, endIndex, pageCount.\n• Диапазоны упорядочены, не пересекаются, покрывают все index, КРОМЕ страниц‑дубликатов (их допустимо не покрывать).\n• Для каждого: pageCount = endIndex - startIndex + 1.\n• Для act/invoice: если встречаются несколько самодостаточных страниц с одинаковыми номером/датой/сторонами/итогами — выведи только ПЕРВУЮ (остальные дубликаты пропусти). НИКОГДА не объединяй их в многостраничный документ.\n\nFALLBACK\nЕсли сегментация/классификация не удалась — вернуть по одному unknown объекту на каждую страницу:\n{ \"result\":\"unknown\",\"number\":null,\"date\":null,\"startIndex\":index,\"endIndex\":index,\"pageCount\":1 }\n\nВход pages:\n{{ JSON.stringify($json.pages) }}\n\nВерни ТОЛЬКО чистый JSON‑массив (без Markdown, комментариев, лишних ключей)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        976,
        -112
      ],
      "id": "e07c7877-91ef-4f18-b4cc-141ce32f5ca1",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7,
          "topP": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        48
      ],
      "id": "d73bbd95-e394-4e1b-906b-0ce578f35816",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6o3E6CtmYsqbpVFq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return (() => {\n  // Собираем все входные айтемы\n  const all = $input.all();\n\n  // Пытаемся найти pages в любом элементе: it.json.result.pages\n  let pages = [];\n  for (const it of all) {\n    const p = it.json?.result?.pages;\n    if (Array.isArray(p) && p.length) {\n      pages = p;\n      break;\n    }\n  }\n\n  // Если pages не нашли, попробуем собрать страницы из полей text/pageText\n  if (!pages.length) {\n    const candidates = [];\n    for (const it of all) {\n      const t =\n        it.json?.text ??\n        it.json?.pageText ??\n        it.json?.result?.text ??\n        null;\n      if (typeof t === 'string' && t.trim().length) {\n        candidates.push(t);\n      }\n    }\n    if (candidates.length) {\n      pages = candidates.map((t, i) => ({ index: i + 1, text: t }));\n    }\n  }\n\n  // Если всё ещё ничего — вернём пусто (или включите \"Always Output Data\")\n  if (!pages.length) {\n    return [];\n  }\n\n  // Нормализация структуры и текста\n  const normalize = (s) => String(s || '')\n    .replace(/\\u00A0/g, ' ')      // NBSP -> space\n    .replace(/[ \\t]+/g, ' ')      // сжать подряд идущие пробелы/табы\n    .replace(/\\r/g, '')           // убрать CR\n    .replace(/\\n{3,}/g, '\\n\\n')   // сжать лишние пустые строки\n    .trim();\n\n  // Приводим любой формат pages к [{ index, text }]\n  pages = pages.map((p, i) => {\n    const text = typeof p === 'string' ? p : (p?.text ?? '');\n    const index = (typeof p === 'object' && Number.isInteger(p?.index)) ? p.index : (i + 1);\n    return { index, text: normalize(text) };\n  })\n  // Убираем полностью пустые страницы после нормализации\n  .filter(p => p.text.length > 0);\n\n  // Опционально — ограничение длины страницы, чтобы не взрывать токены\n  const MAX_CHARS_PER_PAGE = 20000;\n  pages = pages.map(p => {\n    if (p.text.length > MAX_CHARS_PER_PAGE) {\n      return { ...p, text: p.text.slice(0, MAX_CHARS_PER_PAGE) + '\\n…[truncated]' };\n    }\n    return p;\n  });\n\n  const pageCount = pages.length;\n\n  // Возвращаем ОДИН айтем для LLM (исключает мультизапуск)\n  return [{\n    json: {\n      pages,\n      pageCount\n    }\n  }];\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -112
      ],
      "id": "a5cbca6d-3e40-4ef5-a2f3-6ee6da9a96b5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -112
      ],
      "id": "4b8e3aa1-3cb9-489c-8d0e-3ee76fb19d1d",
      "name": "Send a text message2",
      "webhookId": "ea8f2d08-f1e9-4139-a3ef-249597abdcce",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return (() => {\n  // Ищем pages[] в любом входном элементе\n  let pages = [];\n  for (const it of $input.all()) {\n    const p = it.json?.result?.pages;\n    if (Array.isArray(p) && p.length) {\n      pages = p;\n      break;\n    }\n  }\n\n  // Если pages нет — вернём пустой массив (или включите \"Always Output Data\" в настройках узла)\n  if (!pages.length) {\n    return [];\n  }\n\n  // Возвращаем массив { json: { text } } по количеству страниц\n  return pages.map(p => ({\n    json: {\n      text: String(p?.text ?? ''),\n    },\n  }));\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        160
      ],
      "id": "51edb9cb-23a2-41f9-a706-ba7381598afc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        160
      ],
      "id": "2a158cb6-28a8-486b-bd1b-8a3206439f60",
      "name": "Send a text message3",
      "webhookId": "ea8f2d08-f1e9-4139-a3ef-249597abdcce",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c3d62e57-0bf9-44d1-a2d3-5f1bee21b4c7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "698599e8-6666-4f15-9bee-ad8263d0ebaa",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "word",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b989a563-e6f8-4758-ad90-191521b94b42",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "sheet",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91a0ed9d-d198-475b-aab6-389eeb18df3c",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cce89a53-fd4c-42d4-b33a-56e9cf98c631",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        544,
        320
      ],
      "id": "b0b63925-a507-4bb4-8e93-c748e71acd00",
      "name": "Switch2"
    },
    {
      "parameters": {
        "jsCode": "function normalize(input) {\n  // Вход может быть: {result:{text,pages...}}, или [{...}], или сразу {text,pages}\n  let root = input;\n  if (Array.isArray(root) && root.length > 0) root = root[0];\n\n  // Если это конверт \"job/status/result\"\n  if (root && root.result && (typeof root.result === 'object')) {\n    return {\n      jobId: root.jobId ?? null,\n      status: root.status ?? null,\n      fileName: root.result.fileName ?? null,\n      text: typeof root.result.text === 'string' ? root.result.text : '',\n      pages: Array.isArray(root.result.pages) ? root.result.pages : [],\n    };\n  }\n\n  // Если пришёл уже плоский объект { text, pages }\n  return {\n    jobId: root.jobId ?? null,\n    status: root.status ?? null,\n    fileName: root.fileName ?? null,\n    text: typeof root.text === 'string' ? root.text : '',\n    pages: Array.isArray(root.pages) ? root.pages : [],\n  };\n}\n\nfunction cleanText(s) {\n  if (!s) return '';\n  return String(s).replace(/\\r/g, '').trim();\n}\n\n// Пробегаем по всем входным items и нормализуем в единый формат\nconst out = [];\nfor (const item of items) {\n  const n = normalize(item.json);\n  const text = cleanText(n.text);\n  const pages = Array.isArray(n.pages)\n    ? n.pages.map((p) => ({\n        pageNumber: p.pageNumber ?? null,\n        text: cleanText(p.text ?? ''),\n        textLength: typeof p.text === 'string' ? p.text.length : 0,\n        imageFile: p.imageFile ?? null,\n        error: p.error ?? undefined,\n      }))\n    : [];\n\n  out.push({\n    json: {\n      success: true,\n      source: 'ocr',\n      jobId: n.jobId,\n      status: n.status,\n      fileName: n.fileName,\n      text,\n      pages,\n      pageCount: pages.length,\n    },\n  });\n}\nreturn out;"
      },
      "name": "Extract OCR Text (robust)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        368
      ],
      "id": "f6dd0efb-f4f4-4f17-bcb0-e8326ef92755"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of items) {\n  const pages = Array.isArray(item.json?.pages) ? item.json.pages : [];\n\n  if (pages.length === 0) {\n    const t = item.json?.text ?? '';\n    out.push({\n      json: {\n        pageNumber: 1,\n        text: t,\n        textLength: typeof t === 'string' ? t.length : 0,\n        jobId: item.json?.jobId,\n        fileName: item.json?.fileName,\n      },\n    });\n    continue;\n  }\n\n  let i = 0;\n  for (const p of pages) {\n    i += 1;\n    const t = p?.text ?? '';\n    out.push({\n      json: {\n        pageNumber: p?.pageNumber ?? i,\n        text: t,\n        textLength: typeof t === 'string' ? t.length : 0,\n        jobId: item.json?.jobId,\n        fileName: item.json?.fileName,\n      },\n    });\n  }\n}\n\nreturn out;"
      },
      "name": "Fan-out Pages (optional)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        368
      ],
      "id": "9f20b1db-5466-4074-b012-eaae8ec35509"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=текст из таблицы:  {{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        368
      ],
      "id": "975d9fde-46a0-4e22-b254-1245a5d8d9f2",
      "name": "Send a text message4",
      "webhookId": "96754d5c-467c-41e5-9489-011accbe0f4d",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=докумкент  {{ $json.message.document.file_name }} в обработке .... ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        176
      ],
      "id": "d0721062-9ffe-4d37-b707-31154153da3d",
      "name": "Send a text \"Взято в работу\"",
      "webhookId": "e51623f2-8b70-4103-adb8-f4b652bb2181",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Я получил текст: {{ $json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -64
      ],
      "id": "9795c29c-0b9f-4d1a-9a15-54d97e104965",
      "name": "Send a text из сообщения",
      "webhookId": "d95284d5-9f94-42df-8244-0e35f6a5ccff",
      "credentials": {
        "telegramApi": {
          "id": "tr6sdpVZ6vPF4MC1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text из сообщения",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text \"Взято в работу\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP POST OCR (async)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST OCR (async)": {
      "main": [
        [
          {
            "node": "Delay 2s (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 2s (Code)": {
      "main": [
        [
          {
            "node": "HTTP GET OCR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET OCR Result": {
      "main": [
        [
          {
            "node": "IF Processing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Processing?": {
      "main": [
        [
          {
            "node": "Delay 2s (Code)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract OCR Text (robust)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract OCR Text (robust)": {
      "main": [
        [
          {
            "node": "Fan-out Pages (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan-out Pages (optional)": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text \"Взято в работу\"": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "18cc25c2-19bb-48d1-8196-6f3e5aa89698",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "JW2ABtyd1hK88XIQ"
}